[2014-07-28 03:56] baisk opened #2 "tika-python stuck in converting some doc"
when i use tika-python in my project, sometimes it just stuck when i converting some doc without any error info. Would you help me plz?

i use tika-python in mac pro.  however, converting is ok by using tika-app. Let me know if you need any extra information.

[2014-07-29 03:23] #2 closed, assigned to nobody

[2014-08-11 19:37] chrismattmann opened #5 "Tika-Python errors out when trying to parse a very large file."
Reported by Christopher Stout csjedi@gmail.com:

---

Hey Chris,

Could you please update the following code in your parser wrapper?:

content = tika.BodyContentHandler()

to

content = tika.BodyContentHandler(-1)

pass in the argument of -1 to handle unlimited size because as of now, it errors out trying to parse a very large file returning the error message:

tika.JavaError: org.apache.tika.sax.

[2014-08-11 19:38] #5 closed, assigned to chrismattmann

[2014-08-21 02:10] baisk opened #6 "extract formatted data from doc"
I need some new feature. Extract formatted data( xml, html) from doc. Besides, I need the img embedding in doc.
I noticed that in tika¹s official app(tika-app-1.5.jar), it is realised that extract plain text besides with formatting data and xml data. However, the code is obscure and it seems to use some class which is not including in tika.( like SAXTransformerFactory ).
![image](https://cloud.git

[2014-08-25 06:29] #6 closed, assigned to nobody

[2014-08-26 17:53] dziemer88 opened #7 "Recursive processing of compressed files"
Could you please provide documentation for recursive processing of compressed files to extract both content and metadata?

[2014-09-26 04:45] gsrika opened #9 "problems in setting up new environment and installing python"
Hi Professor,
 I'm following steps for installing JCC on MAC from here (https://github.com/chrismattmann/tika-python )
1. As mentioned in this step( "Create a the file local.cfg with the following contents, then edit /some/directory at the bottom to be the directory you want to house your new python installation. " ) edited this "/some/directory/" to a local directory
   2.Ran these commands
   "e

[2014-10-01 18:07] sun736 opened #10 "command 'g++' failed at the last two steps installing jcc"
Hi Professor,

I encountered the mentioned linking error at the last two steps installing jcc, see below

Yis-MacBook-Pro:JCC-2.19 Yehudi$ sudo ../../bin/python2.7 setup.py build
found JAVAHOME = /Library/Java/JavaVirtualMachines/jdk1.7.0_45.jdk/Contents/Home
Loading source files for package org.apache.jcc...
Constructing Javadoc information...
Standard Doclet version 1.7.0_45
Building tree for al

[2014-10-03 05:37] #10 closed, assigned to nobody

[2014-10-03 05:37] #9 closed, assigned to nobody

[2015-01-25 19:38] chrismattmann commented on #7
OK I need to make a simple interface as described here to fix this: http://stackoverflow.com/questions/28102943/apache-tika-1-7-parse-files-in-a-zip-archive Will get going on it this weekend.

[2015-03-06 16:55] chrismattmann commented on #7
haven't had time to get going on this, but I am thinking about a rewrite of this library that binds to TikaJAXRS and then in turn leverages class functionality as needed. the JCC stuff makes this a pain to install.

[2015-03-06 16:57] chrismattmann opened #11 "Create a new version of tika-python that binds to TikaJAXRS and get rid of JCC"
Tika's JAX-RS REST library is a very stable platform in lockstep with Tika development. I would like to rewrite and add to tika-python basically all the functionality that is provided by Tika JAX-RS here:

http://wiki.apache.org/tika/TikaJAXRS

Then I could get rid of the JCC dependencies and make this a heck of a lot easier to install.

[2015-04-06 14:52] aterrel opened #12 "not pip installable"
The current setup.py doesn't follow python packaging authority standards making it not pip installable.  https://packaging.python.org/en/latest/

[2015-04-06 14:53] aterrel commented on #12
@chrismattmann feel free to assign this issue to me, I will try to submit a patch later this week.

[2015-04-16 19:05] chrismattmann commented on #12
yay @aterrel thanks for fixy, will do

[2015-04-16 19:05] chrismattmann commented on #12
done!

[2015-04-27 22:17] ahmadia commented on #12
@aterrel - Do you still want this?

[2015-04-27 22:18] ahmadia commented on #11
In process in https://github.com/chrismattmann/tika-python/tree/tika-rest

[2015-04-27 22:42] ahmadia opened #14 "Resolve differences between tika-temp.py and tika/tika.py"

[2015-04-27 22:45] ahmadia opened #15 "Add backward compatility to parser"
* [ ] tika/parser/__init__.py

[2015-04-27 22:45] ahmadia opened #16 "Expose missing REST interfaces"
* [x] `tika/detect/__init__.py`
* [ ] `tika/translate/__init__.py`
* [x] `tika/language/__init__.py`

[2015-04-27 22:48] ahmadia opened #17 "Consider better packaging for tika JAR file"
* [ ] Brainstorm! (Chat with @chrismattmann?)
* [x] Implement!
* [x] ~~Test~~

[2015-04-29 05:42] dongnizh commented on #14
Hi @ahmadia This is just the temp version of tika.py.
I have talked with @chrismattmann today, and I was thinking of the way by detecting the port to start service. I have done one on my local repo [https://github.com/dongnizh/tika-python/blob/tika-rest/tika/tika.py] and you can have a look at that one.  I am trying to test it stability right now.

[2015-05-02 01:25] chrismattmann commented on #15
This is now complete! See master, it includes back compat.

[2015-05-02 01:25] #15 closed

[2015-05-02 01:26] chrismattmann commented on #14
Completed!

[2015-05-02 01:26] #14 closed

[2015-05-02 01:26] chrismattmann commented on #11
complete!

[2015-05-02 01:26] #11 closed

[2015-05-02 02:15] dongnizh opened #23 "Need to check port is open in parser/detector/config"
Hi, @chrismattmann it seems that we need to add port checking in these functions. Because I just check port in runCommand function, but no in these functions.

Any suggestions on this?

[2015-05-02 02:57] dongnizh commented on #23
This one is related to #24.

[2015-05-02 03:08] #7 closed

[2015-05-02 03:09] chrismattmann commented on #16
almost there - got a detect done - need to do translate and language!

[2015-05-02 03:10] chrismattmann commented on #17
So far the existing mechanism works and I haven't been able to find a better setuptools recipe for dealing with JAR files. If we find one I think we can open a new one and reference this.

[2015-05-02 03:10] #17 closed

[2015-05-02 03:10] chrismattmann commented on #12
It is now! :) +1

[2015-05-02 03:10] #12 closed

[2015-05-02 03:11] chrismattmann commented on #23
Hey @dongnizh in these functions they are calling runCommand at some level, right? Or not?

[2015-05-02 03:16] dongnizh commented on #23
No, they are not calling runCommand. runCommand is calling these by cmd option.

[2015-05-02 06:07] chrismattmann commented on #23
I have an idea - why not just move your port checking code into callServer? runCommand at its bottom core calls callServer, so if you check in callServer it will satisfy all cases, right?

[2015-05-02 06:07] chrismattmann commented on #23
@dongnizh

[2015-05-02 06:09] dongnizh commented on #23
@chrismattmann Yes, will do.

[2015-05-02 12:04] aterrel commented on #17
http://shiningpanda.com/python-java-unified-build-process-14.html

[2015-05-02 18:03] chrismattmann commented on #23
Solved in #26 and in #27

[2015-05-02 18:03] #23 closed

[2015-05-05 07:43] chrismattmann commented on #16
language done! now need to add translate.

[2015-05-05 23:10] dongnizh opened #31 "double list embedded"
Hi, @chrismattmann look at this:

![7edcc94a-9bfc-452d-8c53-bb68582761b6](https://cloud.githubusercontent.com/assets/6832510/7484675/41aeab4a-f340-11e4-8093-149fbe71c1bf.png)

After parsing by parser in tika-python, this one shows:

![fb7a1240-90b3-490a-934d-3b5aad896284](https://cloud.githubusercontent.com/assets/6832510/7484726/c1b8a1e2-f340-11e4-880d-05f32db325e6.png)

with double list symbol o

[2015-05-07 06:49] chrismattmann commented on #31
let's baseline off the way that tika-python is currently doing it @dongnizh - that's the baseline going forward.

[2015-05-07 18:19] #31 closed

[2015-05-08 07:14] #16 closed

[2015-05-12 02:52] ahmadia opened #34 "Git history has heavy binaries"
This makes the repository unnecessarily fat.  I can trim out all the .jar files from the history if you don't mind :)

[2015-05-12 03:46] chrismattmann commented on #34
what's the potential MB savings @ahmadia ? My only concern is destroying version history..but do you have an idea of the savings?

[2015-05-12 06:56] chrismattmann opened #35 "Tika-Python doesn't work on windows"
I received the following email from Github user:

[code]

[code]

[code]

[2015-05-12 07:27] dongnizh commented on #35
@chrismattmann how about urlp.scheme in 'ftp' ?

[2015-05-12 11:35] ahmadia commented on #34
Probably about 98% of the weight?  This repository should only be a couple
mb. We can leave a note with the list of jar files removed from history.

On Monday, May 11, 2015, Chris Mattmann <notifications@github.com> wrote:

[2015-05-12 15:41] chrismattmann commented on #34
Go for it! Sounds good

[2015-05-12 15:43] chrismattmann commented on #35
Can you investigate @dongnizh ? Thanks

[2015-05-12 15:56] dongnizh commented on #35
@chrismattmann Emm...Try my best.......

[2015-05-12 21:02] dongnizh opened #37 "ubuntu running error"
![f5d23fb2-d765-4cbd-9593-2f78fc6b3e2d](https://cloud.githubusercontent.com/assets/6832510/7598435/1094c57a-f8af-11e4-8595-844135b3b9f3.png)
@chrismattmann  I tried to run it on ubuntu, but it seems some syntax error on  **bad fd number**.
It probably happens because of **">&"** symbol.
Try to figure out.

[2015-05-12 21:32] chrismattmann commented on #37
Ahh it's the shell my guess is you are using bash and not csh

[2015-05-12 21:42] dongnizh commented on #37
![233d9883-9781-4fcb-826a-8c695f0bb6d2](https://cloud.githubusercontent.com/assets/6832510/7599219/05fa6c40-f8b5-11e4-8b5d-6962ce6647a5.png)
@chrismattmann  It is not csh. It's dash....

[2015-05-12 22:04] chrismattmann commented on #37
Yeah >& only works for csh we need something that works across shells

[2015-05-12 22:15] dongnizh commented on #37
Oh got it!!! Learned from you!!!

[2015-05-13 01:18] chrismattmann commented on #37
:+1: @dongnizh - so we should figure out a cross platform solution here.

[2015-05-13 04:31] dongnizh commented on #35
@chrismattmann  the only way in my mind is writing a regular expression, since windows local file starts with **"\"**, while others starts with **"/"**. This will make them separated. Need  to find a way to test on Windows.

[2015-05-13 04:43] dongnizh commented on #35
@chrismattmann the only way in my mind is writing a regular expression, since windows local file uses backslash,  while unix/linux use slash. We can make them separated. Not sure whether it is working or not. Need to test on Windows or think a better way instead.

[2015-05-14 17:51] chrismattmann commented on #35
@dongnizh check this out http://stackoverflow.com/questions/11687478/convert-a-filename-to-a-file-url I think this may be a more general fix. I'm going to go ahead and commit #36 and then if we get something better with this URL, etc. we can open up a new issue.

[2015-05-14 17:51] #35 closed

[2015-05-14 17:56] chrismattmann commented on #37
@dongnizh check this out: http://stackoverflow.com/questions/3908063/python-subprocess-with-shell-true-redirections-and-platform-independent-subproc maybe we should use subprocess and/or popen2?

[2015-05-15 17:30] chrismattmann commented on #34
@ahmadia any progress here?

[2015-05-15 17:31] chrismattmann commented on #37
@dongnizh did you check my link out?

[2015-05-15 17:42] ahmadia commented on #34
Yup, just created a branch.  Need to open a PR.

[2015-05-15 17:42] ahmadia commented on #34
Actually, this can't be done as a PR since you don't want to merge history here, you need to replace it.

[2015-05-15 17:45] dongnizh commented on #37
@chrismattmann I would like to try to change the os cmd to subprocess and see what it is going on.

[2015-05-15 17:49] ahmadia commented on #34
Take a look at this: https://github.com/ahmadia/tika-python/tree/ahmadia/strip-jars

Should preserve history except the .jar files are gone.

[2015-05-15 17:50] ahmadia commented on #34
Can't be merged in, you'd need to just reset your master branch to that series of commits.  I'd keep a copy of the master branch for awhile just in case I knuckled it up.

[2015-05-15 18:22] ahmadia commented on #34
repository shrinks from 50 MB to 228KB.

[2015-05-15 20:22] chrismattmann commented on #37
+1 try that

[2015-05-15 23:06] chrismattmann commented on #34
Not exactly sure how to proceed here? How do I take advantage of your branch? @ahmadia

[2015-05-15 23:11] ahmadia commented on #34
Give me commit rights to this repository and I'll take care of the rest :)

[2015-05-16 03:51] chrismattmann commented on #34
No probs will do shortly @ahmadia

[2015-05-16 03:58] chrismattmann commented on #34
Perms granted

[2015-05-16 21:08] chrismattmann commented on #34
@ahmadia just FYI granted you perms

[2015-05-16 22:44] ahmadia commented on #34
Cool.  I'll get to it tomorrow.

[2015-05-18 06:35] ahmadia commented on #34
It's done.  You'll need to get the new master branch (and avoid merging any PRs from the old master).

[2015-05-18 06:35] #34 closed

[2015-05-18 06:35] ahmadia commented on #34
I saved the branch to here: https://github.com/chrismattmann/tika-python/tree/backup-master

[2015-05-18 18:19] chrismattmann commented on #37
ok @dongnizh can you confirm that #41 fixed this?

[2015-05-18 18:22] dongnizh commented on #37
@chrismattmann What do you mean? You mean the new PR?

[2015-05-18 18:25] dongnizh commented on #37
This is closed due to #41 .

[2015-05-18 18:25] #37 closed

[2015-05-18 18:58] chrismattmann commented on #37
yay thanks @dongnizh !

[2015-06-02 02:37] dongnizh opened #44 "Error when running Windows"
@chrismattmann When I am running tika-python by "parsing a file" on Windows (actually a virtual windows), it shows like:
![a6781832-2fb4-495a-a926-c2dea2467c1d](https://cloud.githubusercontent.com/assets/6832510/7927491/8efaed68-0895-11e5-9f12-12887f292127.png)
However, when you run cmd like  "python tika.py config mime-types", it is working.
This is one link I found so far on this problem: https:

[2015-06-02 03:56] chrismattmann commented on #44
thanks for filing this @dongnizh ! how are you doing in Seattle?

[2015-06-02 04:46] dongnizh commented on #44
Hi, @chrismattmann Hope you are doing all good. Today is my first day at work.It is kind of different from what I did at school and I still need much more time to adapt to the new environment. ^_^

[2015-06-03 00:16] chrismattmann commented on #44
hang in there and keep me posted @dongnizh

[2015-06-03 03:23] dongnizh commented on #44
@chrismattmann Of course!!

[2015-06-23 06:01] chrismattmann opened #46 "Upgrade to Tika 1.9"
Tika 1.9 is now released, so upgrade to use it. This will natively support the translate interface and language interface since those required a 1.9 server.

[2015-06-23 14:46] #46 closed

[2015-07-07 20:09] acaceres2176 opened #47 "parser.from_buffer breaks on unicode"
Platform: Ubuntu 14.04
Python version: 2.7.x

The following breaks:

[code]

with the exception:

[code]

A workaround is something like the following:

[code]

which works as expected. However, this won't be acceptable for any non-html content and most html content.

[2015-07-07 22:43] chrismattmann commented on #47
Hey @acaceres2176 check this out:

[code]
Try that as a work-around for now. I will put some more resiliency into the library to guard against this. Working on it now.

[2015-07-07 23:50] #47 closed

[2015-07-07 23:51] chrismattmann commented on #47
@acaceres2176 see above in #48  - that fixes it for me without having to set encoding to UTF-8 in my shell:
[code]

Try it out.

[2015-07-09 23:57] chrismattmann opened #49 "fix for unicode broke .from_file methods"
My fix in #47 and #48 broke the from_file methods of parser, detector, etc. Thanks to Paul Tunison for finding this.

[2015-07-09 23:58] #49 closed

[2015-07-10 19:52] chrismattmann opened #50 "callServer should test is the typeof is file and if so force unicode"
Here's a function that we can use to force unicode if it's a file type:

https://gomputor.wordpress.com/2008/09/22/convert-a-file-in-utf-8-or-any-encoding-with-python/
http://xahlee.info/perl-python/charset_encoding.html

[2015-07-17 02:49] chrismattmann opened #51 "Tests don't run with setup.py test"
Tests seem to only run with:

```python2.7 tika/tests/tests_params.py```

When trying to run through setuptools (note first run python2.7 setup.py develop) I get:

[code]

Any ideas @kdurril and/or @nutjob4life?

[2015-07-17 03:25] chrismattmann commented on #44
@dongnizh are we still seeing this error?

[2015-07-17 04:25] kdurril commented on #51
My install isn't working after a build, so this I'm not even getting to your position. I may need to ask for additional help.

[2015-07-18 05:10] chrismattmann commented on #51
Got it @kdurril ok. Let me know.

[2015-07-18 05:13] chrismattmann opened #53 "pip2.7 install and setuptools install won't install __init__.py for Tika"
I'm stumped on this one. For whatever reason when using pip or setuptools for tika, the __init__.py for tika doesn't get installed. It complains about ``__namespace_`` packages. @nutjob4life need your help on this one.

[2015-07-18 17:43] chrismattmann commented on #51
@nutjob4life any ideas?

[2015-07-18 23:10] chrismattmann commented on #44
More info on this, someone reported it to the Python httplib: https://bugs.python.org/issue23054 This is still open as of December 2014.

[2015-07-18 23:11] chrismattmann commented on #44
overall this issue has to do with a PUT request being made in Windows. Since Tika Server uses PUT requests like everywhere this is causing the issue, only on Windows.

[2015-07-19 01:40] chrismattmann commented on #44
See my comment on: http://bugs.python.org/issue23054

[2015-07-19 01:45] chrismattmann commented on #44
See: http://bugs.python.org/issue8450

[2015-07-19 17:01] dongnizh commented on #44
Hi, @chrismattmann will look into this.

[2015-07-19 18:07] chrismattmann commented on #44
Thanks @dongnizh !

[2015-07-19 18:09] chrismattmann opened #54 "Python 2.7.9 on windows fails to download Tika server"
Running on latest Python 2.7.9 on windows Vista and I get this:

[code]

I've tried monkey patching as suggested in:

http://stackoverflow.com/questions/27835619/ssl-certificate-verify-failed-error

Still get same error.

And also read:

http://bugs.python.org/issue23052

[2015-07-19 22:16] chrismattmann commented on #54
A workaround on this is to download and install Python 2.7.8. I was able to get Tika working using 2.7.8. After installing, I pip install --upgrade --force tika. This should install Tika 1.9.3. After doing so, double check to make sure there aren't any temporary instances of tika server that are corrupt from previous downloads using HTTPS where it messed up because of 2.7.9. The way I checked was

[2015-07-19 23:07] chrismattmann commented on #54
OK confirmed that I can monkey patch this in the latest version. I am going to add a check inside of the function where it downloads the tika jar checking for an IOError, and if so, then doing:

[code]

[2015-07-20 04:25] chrismattmann commented on #44
Hey @dongnizh I think this error has to do with the fact that you have a bogus tika-server.jar in your temp folder. And for whatever reason on Windows it doesn't seem to remove the C:\Users\<your username>\appdata\Local\Temp directory when you restart. If tika-server was downloaded incorrectly then it will remain there. If you delete that jar file, it will redownload it. However see two related pr

[2015-07-20 04:31] chrismattmann commented on #53
So this seems to have something to do with it: https://www.python.org/dev/peps/pep-0420/#rationale Hmm. Seems like __init__.py used to get installed though.

[2015-07-21 01:14] nutjob4life commented on #51
When you run tests through setup.py, setuptools looks for any classes derived from unittest.TestCase. It will automatically instantiate an object of those classes, then for each member function that starts with "test", it calls setUp, that test function, and tearDown. It requires a no-args __init__ to work.

So, setuptools sees a class "CreateTest", which derives from unittest.TestCase, instantiat

[2015-07-21 02:37] chrismattmann commented on #51
thanks @nutjob4life this HELPS! *hugs*

[2015-07-21 03:27] chrismattmann commented on #51
this closes #51

[2015-07-21 03:27] #51 closed

[2015-07-21 03:34] #54 closed

[2015-07-21 03:37] chrismattmann commented on #44
See my fix for #54 and #56 @dongnizh let me know if that fixes this. We could probably add some more robust code here in #44 to verify the downloaded tika-server jar against its sha1. For example, we could check in getRemoteFile if there is a corresponding .md5 file for the URL, if so, we could then test if the download was successful. For example, https://repo1.maven.org/maven2/org/apache/tika/ti

[2015-07-21 05:46] #44 closed

[2015-07-21 15:09] nutjob4life commented on #53
In setup.py, delete namespace_packages. "tika" isn't a namespace package (it has other code modules in it).

[2015-07-21 16:09] chrismattmann commented on #53
thanks @nutjob4life !

[2015-07-21 16:10] #53 closed

[2015-07-23 00:33] chrismattmann opened #58 "call to requests.put is blocking on Windows when using from_file"
{parser|detector|language|translate}.from_file all use requests.put on an open file handle to stream the file to the Tika JAX-RS server. On Windows this call freezes and doesn't return, giving eventually (correctly) a BadStatusLine return from the underlying Python httplib. Need to find out why it's blocking on requests.put on windows with streaming file handle.

[2015-07-25 05:53] dongnizh commented on #58
@chrismattmann Is this the same as #44 ?

[2015-07-25 06:02] dongnizh commented on #44
@chrismattmann Thanks for your update. Will try the new version on Windows and update the result later.

[2015-07-25 06:49] dongnizh commented on #58
@chrismattmann I ran it with **tika.py parse all [filename]**, it still showed the same issue.

[2015-07-25 19:59] chrismattmann commented on #58
Yep @dongnizh looks like the same issue any ideas? Can u try requests with a different server on windows just see if you can do a requests.put to any service

[2015-07-25 20:00] chrismattmann commented on #44
Btw I implemented the md5 check

[2015-08-09 00:45] imclaren opened #59 "Running server API on localhost"
If we run the tika rest server on localhost, a call such as the following will not try to use the tika rest server, but will instead attempt to download the tika jar file from http://search.maven.org ...:

parser.from_buffer(fileString, 'http://localhost:9998/tika')

The following works as expected (i.e. accesses the tika rest server on localhost):

parser.from_buffer(fileString, 'http://127.0.0.1

[2015-08-11 16:22] chrismattmann commented on #59
thanks @imclaren I'll take a shot at fixing this.

[2015-08-11 16:23] chrismattmann opened #60 "Upgrade to Tika 1.10"
As titled.

[2015-08-11 16:26] #60 closed

[2015-08-12 10:53] mmolenda opened #62 "Cannot parse docx document containing more than one element"
Hi, first of all thanks for the great tool.
When I parse a docx document that contains several components, for example document itself and an image, for subsequent ones the parser tries to append values to already existing keys in metadata dict. But in some cases the key contains string/unicode and append operation results in `AttributeError`.

Example:
[code]

I think if a same key is encountered

[2015-08-12 11:07] mmolenda opened #63 "ValueError when parsing unsupported type"
When I try to parse a file that is not supported by tika, for example binary, the parser tries to perform `json.loads` on returned content even if it's empty.

Example:
[code]

The issue seems to be that `parser._parse` is always provided with a tuple containing response code and parsed content, so even if the content is empty, following condition will not be met and it will always try to decode i

[2015-08-14 02:38] chrismattmann commented on #62
Thanks @mmolenda  I will take a look and update this!

[2015-08-14 02:39] chrismattmann commented on #63
Great debugging. I will also take a look at this @mmolenda

[2015-08-15 04:19] chrismattmann commented on #58
Keeping the discussion going related to kennethreitz/requests#2725, here is what I'm seeing from the sniff:
<img width="1041" alt="screen shot 2015-08-14 at 9 13 49 pm" src="https://cloud.githubusercontent.com/assets/395887/9287451/238fdb96-42ca-11e5-9bcc-679be27f77f4.png">

[2015-08-15 05:23] chrismattmann commented on #58
See #64 for a good enough fix for now. This is buried deep within httplib, Jetty, CXF, and other stuff.

[2015-08-15 05:23] #58 closed

[2015-08-15 05:35] #59 closed

[2015-08-15 05:36] chrismattmann commented on #59
Can you pull https://github.com/chrismattmann/tika-python/commit/df1411f0d41bc601fa493043b4f92d62865d1990 @imclaren and see if this fixes it for you? Thanks for the report!

[2015-08-15 05:38] chrismattmann commented on #62
this closes #62

[2015-08-15 05:38] #62 closed

[2015-08-15 05:40] chrismattmann commented on #50
The fix for #64 basically automatically took care of this on Windows.

[2015-08-15 05:45] #63 closed

[2015-08-15 05:45] chrismattmann commented on #63
thanks @mmolenda please see if this fixes your problem.

[2015-08-18 01:15] chrismattmann commented on #50
I'm closing this as a :-1: Won't Fix for now. Doesn't seem to be large requests for this and I don't have time to implement it now. A work-around is to simply use parser.from_buffer (or for that matter, *anything*.from_buffer) and you'll get UTF-8 encoding.

[2015-08-18 01:15] #50 closed

[2015-08-18 10:21] MaheshSankaran opened #65 "Support for HTML output"
I know apache tika supports HTML output format.But am getting only text format from tika-python.
Could you please provide support for HTML output format.

Thanks
Mahesh

[2015-08-18 15:59] chrismattmann opened #66 "Use bind address 0.0.0. for Tika Server if Windows"
See the discussion here: https://issues.apache.org/jira/browse/TIKA-1714

[2015-08-18 16:17] chrismattmann commented on #65
hi @MaheshSankaran - see the `X-TIKA:content` field available in the metadata. That's not HTML, but it's the extracted text.

Unfortunately if you have a look at: http://wiki.apache.org/tika/TikaJAXRS we don't have support in Tika server yet for providing the extracted XHTML. It is supported in tika-app and its -J command for example. See the difference in JSON e.g., X:TIKA-Content in http://wiki.

[2015-08-19 07:10] MaheshSankaran commented on #65
thank you chrismattmann.i have been voted and commented on issue  which you created.

[2015-08-19 15:53] chrismattmann commented on #65
thanks @MaheshSankaran you commented your support, thanks. If you have time feel free to contribute a solution too. I likely won't have time to for a bit.

[2015-08-20 03:11] #66 closed

[2015-08-24 01:46] dongnizh commented on #66
@chrismattmann Great to hear that you fix the error for Windows. 👍

[2015-08-28 14:13] chrismattmann commented on #65
Now that [TIKA-1716](http://issues.apache.org/browse/TIKA-1716) is done, I will add support here in the Python library for it. Stand by.

[2015-08-28 17:46] chrismattmann commented on #65
OK, I have this working in a branch:

[code]

I'm going to leave it in the branch please try it out @MaheshSankaran branch is ```html-output65```. Once Tika 1.11 is out, I will go ahead and merge the branch to master.

[2015-08-29 04:14] MaheshSankaran commented on #65
Great Work @chrismattmann
will try once tika 1.11 is release.

Thanks,
Mahesh

[2015-09-09 19:12] ahed87 opened #68 "py3?"
Hi,
was just playing around a bit to see if I could get this working.

Anyway, below is what happend when I tried with py3 and win8.1 64.
The stop point puzzled me, so I thought I just would let you know.
I guess that you only do py2, so this is just if you ever think in terms of py3...

// ahed

(pjava) C:\VIRENVS\pjava\Scripts>pip install tika
Collecting tika
  Downloading tika-1.10.tar.gz
Requi

[2015-09-10 04:43] chrismattmann commented on #68
hi @ahed87 thanks for the bug report. I don't use Python3, no, as you said I use Python2.7.X usually. Any idea what the above error means? I'm not a py3 guy, but for example the error states that it can't find a function in the tika.py module (parse1), that is called by the parser.py module.

[2015-09-15 22:04] imclaren commented on #59
Thanks for updating the library.  So sorry for my very tardy response.  I wanted to wait until I had the chance to pull and test the new version.  As soon as I have done so I will get back to you.  But thanks for providing and supporting this library and for your rapid response to my feature request!

—
+61 417 059 214

On Sat, Aug 15, 2015 at 5:36 PM, Chris Mattmann <notifications@github.com>
wro

[2015-10-12 21:27] chrismattmann commented on #68
ping @ahed87

[2015-10-20 19:27] macd commented on #68
The immediate error (can't find parse1) can be fixed by doing  relative import in the parser.py
module by using
from .tika import parse1, callServer, ServerEndpoint  # note the dot in front of tika

but there are other 2->3 issues as well.  You can use the 2to3 utility to convert to Python 3, but then you run into a UnicodeDecodeError pretty deep into the http stack.  About as far as I can take it

[2015-10-25 21:08] #65 closed

[2015-10-25 21:09] chrismattmann commented on #68
unfortunately no one has provided any PRs and I don't have time to work on this now. If anyone wants to send me a PR I'd appreciate it, but since tika-python works fine in 2.7 and that's what I develop in, going to close this out for now. Please feel free to re-open if someone has a PR to send me.

[2015-10-25 21:09] #68 closed

[2015-11-12 11:36] ghost opened #71 "Support to use the library i client-only mode"
I think it would be useful to use the library in client-only mode. In this way the library calls a remote server and if the server is not reachable raises an exception rather than download tika and run it.
Thanks,
P.

[2015-11-14 16:29] chrismattmann commented on #71
Hi @blakie sounds like a useful addition. Will take a look at this in the next development iteration.

[2015-11-19 03:42] chrismattmann opened #72 "Address requests issue for Windows"
As described in https://github.com/kennethreitz/requests/issues/2725 incorporate fix in tika-python to ensure that requests works on windows natively and get around previous workaround employed.

[2015-12-22 15:14] dtsmith2001 opened #73 "This package should work under Python 3"
Please modify so it can be used in python 3.

[2015-12-23 00:15] chrismattmann commented on #73
I don't actively use Python3 but would be happy to consider it and if you have ideas where to modify it let me know.

[2015-12-23 15:10] dtsmith2001 commented on #73
My problem is with

from tika import config

The error message is getConfig can't be loaded. Here are the details.

[emailzone] C:\Users\dsmith\Downloads>python
Python 3.4.3 |Continuum Analytics, Inc.| (default, Dec  1 2015, 11:39:45) [MSC v
.1600 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", li

[2015-12-23 17:51] chrismattmann commented on #73
thanks @dtsmith2001 as I said, I don't normally use/test with Python3 and the library right now is actively used and tested with Python2.7. I'm happy to look into this but won't have too many cycles (and test environments) set up to make progress here. If you are a Python3 user, which it seems you are, would you have some time to look into why it's not working? Looking at #68 there were some sugge

[2016-01-13 18:41] Purg opened #74 "Block's port of web-service when using tika (detector)"
After running an app (flask) that's communicating via some port, if I close down that app and relaunch it I will consistently get a "port in use" error when starting flask up from the second time on-wards. After spending some time in ``htop`` killing potential java processes (``lsof -i`` reported that only firefox/mongod/some-java-thing was using port sockets). Killing specifically the ``tika-serv

[2016-01-14 05:28] chrismattmann commented on #74
hey @Purg so tika-python starts the REST server in the background on the default port (8889). having it run in the background optimizes it and makes it load faster, etc. Are you saying that you don't want it to be resident in the background when your flask app (which I presume uses tika-python), stops?

[2016-01-14 14:49] Purg commented on #74
I don't think that the REST server running in the background is specifically the issue, because its always done this and I haven't had this issue until recently. However, though I don't have a specific use-case in mind, the ability to close/shutdown the server on process end could be useful in the future for processes that don't want to leave side-effects / resources open (i.e. could be lauched as

[2016-01-21 11:35] Pehat commented on #68
Hi @chrismattmann . I would be glad to fix it for Python 3, but let me understand first. You repository has no file parser1.py . Where do you import it from? Are there any other packages should be installed first?

[2016-01-21 20:07] macd commented on #68
An alternative is to use Pyjnius for Python 3.  This shows how:

https://github.com/macd/dbm_notebooks/blob/master/The%20Genius%20of%20Pyjnius.ipynb

On Thu, Jan 21, 2016 at 3:35 AM, Pehat <notifications@github.com> wrote:

[2016-01-21 21:43] chrismattmann commented on #74
hey @Purg the exist python and flask server part is getting me - perhaps this is an issue with a child/orphaned process not giving up its resources since tika-server is still running? It is started in the bg I believe, so I'm wondering about this, but that seems like the culprit. Have you ran lsof around and tried to see if it's holding on?

[2016-01-21 21:57] Purg commented on #74
I have done ``lsof`` and I believe it said that a java process was holding it (tika was the only java thing running). I'll want to double check that again, but I'm in the middle of other stuff at the moment. I'll get back to it when I iterate on SMQTK IQR components again (what I was doing when I discovered this).

[2016-01-26 01:27] Calpicow opened #76 "Connection refused with Docker python:2.7 image"
Installed tika-python into `python:2.7` base image, but getting connection refused.

Are there any other dependencies I need to know about?

Output:

[code]

[2016-01-26 18:28] Calpicow commented on #76
Working after installing Java. Leaving this open since this requirement should be in the docs and/or error message improved.

[2016-01-31 17:52] #76 closed

[2016-02-05 17:01] Pehat opened #79 "Tika parser can't handle non-ASCII filenames"
Just copying my log here:

[code]
I think the reason is that `urlopen` tries to open an url before performing `quote` for local files. Is there proper way to fix it?

[2016-02-06 04:51] chrismattmann opened #80 "Upgrade to 1.12"
when it's released, hopefully tonight.

[2016-02-18 03:04] #80 closed

[2016-03-02 00:41] fiacre opened #83 "Mix of spaces in tabs in tika.py"
$ git clone https://github.com/chrismattmann/tika-python.git
$ cd tika-python/tika/
$ python tika.py
  File "tika.py", line 94
    """
      ^
IndentationError: expected an indented block

[2016-03-10 02:55] fiacre commented on #73
I have a python3 version that passes all tests:  https://github.com/fiacre/tika-python

I started working on backporting, but may not have too much time.  Please check back

[2016-03-10 03:21] chrismattmann commented on #73
Thanks @fiacre is it back compat with Python 2.7?

[2016-03-10 07:51] fiacre commented on #73
I am not done testing, but I have made the effort to make it backwards compatible.  I expect to have it tested for 2.7 and 3.5 within a few days.  I'll make a pull request.

[2016-03-25 18:43] fysteven commented on #83
Hi there,

I just checked and it works for me. You might want to git clone the latest version and try again.

Thanks,
Yao

[2016-03-26 18:55] chrismattmann commented on #83
yep works fine? @fiacre please re-open if you are still having the issue.

[2016-03-26 18:55] #83 closed

[2016-03-26 18:55] chrismattmann commented on #79
Do you have a PR for this @Pehat ? Otherwise I'm going to close for now since I don't have the cycles to work on this.

[2016-03-26 18:55] chrismattmann commented on #79
if you have a PR please reference and I'll merge.

[2016-03-26 18:55] #79 closed

[2016-03-26 23:53] chrismattmann commented on #73
fixed in #75 and #84

[2016-03-26 23:53] #73 closed

[2016-03-26 23:56] chrismattmann commented on #74
@Purg if you can give me a test case to reproduce I'll try and investigate. Otherwise I'm going to close this for now as I can't seem to reproduce it myself.

[2016-03-26 23:56] #74 closed

[2016-03-27 00:20] chrismattmann commented on #72
this was fixed in https://github.com/chrismattmann/tika-python/blame/master/tika/tika.py#L171 and specifically https://github.com/chrismattmann/tika-python/commit/422cd3feb109f93b6d3b5c6a1d1789bb608c8678

[2016-03-27 00:20] #72 closed

[2016-03-27 01:04] chrismattmann commented on #71
Hi @ghost if you look at [line 302](https://github.com/chrismattmann/tika-python/blob/master/tika/tika.py#L302) in tika.py you'll see that if the provided URL is localhost, it actually performs the check to see if tika is running. If it's not localhost, it simply in [line 314](https://github.com/chrismattmann/tika-python/blob/master/tika/tika.py#L314) returns the same remote URL you gave it. So it

[2016-03-27 01:04] #71 closed

[2016-03-28 16:38] Pehat opened #85 "New commits are breaking Python 3 compatibility"
I've put some effort to make `tika-python` compatible with Python 3, but in new commits I see something like this:
```print resp```
So if you want to keep `tika-python` compatible with Python 3, all the contributors should come to the agreement about coding style. Let alone that modules should not print anything - the user of the library may not be willing to have this stuff in one's program outpu

[2016-03-28 17:24] kdurril commented on #85
Helli Chris,  Renat has good points. TOX is a good tool for  testing for
the reasons Renat specified. It is a lot of work to remind users to
consider both 2 and 3. Renat should write the test suite and monitor for
compatibility.

Thanks for all of the work you all do.
On Mar 28, 2016 12:38 PM, "Renat Nasyrov" <notifications@github.com> wrote:

[2016-03-28 17:44] Pehat commented on #85
Thanks for you support, @kdurril ! Honestly, I haven't used it before but now I've made some copypastes from the cheat sheet and executed tests from `tika/tests` on my fork of `tika-python`. Wow, it's really easy to turn on continuous integration! [You can see](https://travis-ci.org/Pehat/tika-python/builds/119023181) that Python 2 passes the test and Python 3 fails.

[2016-03-28 18:06] chrismattmann commented on #85
What new commits are you talking about @Pehat ?

[2016-03-29 00:24] chrismattmann commented on #85
there are the only commits since I merged your PR: f79e3420d5b0751202fd73e574cb2d3c7ac08a0e, 443e982b4dc81055774d898e99a9af145291a393 and ad9a883505f7377b0b9120f7110b25f9e1f49eb6

[2016-03-29 04:15] chrismattmann commented on #85
@Pehat I'm totally open to TravisCI and/or Tox too whichever one makes sense.

[2016-03-29 04:41] yashtanna93 commented on #85
@Pehat  @chrismattmann  I don't know about the 'print resp'. And the other echo2 error is because the unicode is not specified. I have fixed both the errors and pushed them. Please review it before merging it. Also I test results using travis could be found [here](https://travis-ci.org/yashtanna93/tika-python/builds/119154383) for the commit

[2016-03-29 08:05] Pehat commented on #85
@yashtanna93 thank you for your fixes! I've seen [this commit](https://github.com/chrismattmann/tika-python/commit/beea1fdce9c85590c5f8679c97665dc0ee373ed1) so I've decided that it's was your edit. On the second thought, I've found that I've overlooked this line in my own fixes so it should be my fault. Thank you for running the tests.
@chrismattmann I'm glad to see you supporting the idea. Mergin

[2016-03-29 08:09] yashtanna93 commented on #85
@Pehat it was your commit which has made the change
take a look [here](https://github.com/chrismattmann/tika-python/commit/c73d669a81c6997a68c56db0d072fb67d5694cd0)

I didn't get your point about the codec thing because it should define which codec is used which is done using string.

[2016-03-29 08:18] Pehat commented on #85
@yashtanna93 let's discuss the codec in the PR topic so we won't mix up the different things in the single thread.

About `print resp` : as I said before, I've overlooked this line when I've made my partial fix for Python 3 and then merged with @chrismattmann 's master branch. It's definitely a mistake and I apologize for the bad merge and false accusations.

[2016-03-30 20:52] chrismattmann commented on #85
this is fixed in #87

[2016-03-30 20:52] #85 closed

[2016-04-01 12:33] torfsen opened #88 "Support Tika's `fileUrl` option"
tika-server supports the [`fileUrl` option](https://wiki.apache.org/tika/TikaJAXRS#Extracting_A_Document_From_A_URL) that lets you extract data from a file available via an URL. This is very useful if the Tika server runs on host A, the file is located on host B and the program using Tika is running on host C. Without `fileUrl`, one first has to transfer the file from host B to host C and then tra

[2016-04-01 18:19] chrismattmann commented on #88
great @torfsen do you have time for a PR for this?

[2016-04-02 19:59] torfsen commented on #88
@chrismattmann I will look into it but can't promise anything at the moment.

[2016-04-02 20:16] torfsen commented on #88
Actually, does Tika really support `fileUrl` at the moment, @chrismattmann?

I tried to get it to work but couldn't and then I found [this issue](https://issues.apache.org/jira/browse/TIKA-1690) where [a comment](https://issues.apache.org/jira/browse/TIKA-1690?focusedCommentId=14640134&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-14640134) says that the commit that

[2016-04-02 20:46] chrismattmann commented on #88
Yeah @torfsen forgot about that there is a [CVE](https://mail-archives.apache.org/mod_mbox/tika-user/201508.mbox/%3CB7848C4E-BC38-4477-832E-B1138B83195A@apache.org%3E) about this and we took the support out from Tika since it can all remote access to local (`file://`) files.

[2016-04-02 20:47] #88 closed

[2016-04-04 07:15] torfsen commented on #88
OK, thanks for the clarification!

[2016-04-06 11:57] harsham05 opened #91 "print server REST endpoint only once"
@chrismattmann

The following is printed to stdout for every document **parse** request to Tika REST server.
[code]

https://github.com/chrismattmann/tika-python/blob/master/tika/tika.py#L276

[2016-04-06 14:13] chrismattmann commented on #91
can you submit a PR to remove this @harsham05 ?

[2016-04-06 14:22] harsham05 commented on #91
@chrismattmann
The print statement is indicative of debugging/sanity reasons. It was **not** present in previous tika-python Releases.  I will submit a PR removing the same.
[code]
Tika REST Server runs on port 9998 by default & the same is already mentioned in Readme.

[2016-04-06 14:36] chrismattmann commented on #91
fixed in #92

[2016-04-06 14:36] harsham05 commented on #91
Fixed in https://github.com/chrismattmann/tika-python/pull/92

[2016-04-06 14:36] #91 closed

[2016-04-13 17:47] chrismattmann opened #95 "Figure out why environment variables won't work from #93"
See: https://github.com/chrismattmann/tika-python/pull/93

[2016-04-13 17:58] #95 closed

[2016-04-13 18:22] chrismattmann opened #97 "Sporadic test failures on TravisCI"
If you look at https://travis-ci.org/chrismattmann/tika-python you will see sporadic build failures. They seem to have to do with Python 3.5 and other machines not being able to start Tika server and then requests failing because there is nothing running on port 9998. Not sure why.

[2016-04-19 20:33] fysteven opened #98 "Failed to establish a new connection: [Errno 61] Connection refused"
Tried using Tika-Python earlier today. Got the following error. Seems to be exceeding some maximum connections.

It also seems to be a problem with Tika Server.

Traceback (most recent call last):
  File "yao_file_detector.py", line 40, in <module>
    main()
  File "yao_file_detector.py", line 36, in main
    detect_files('/Users/Frank/working-directory/fulldump/file-type.txt')
  File "yao_file_d

[2016-04-19 20:47] chrismattmann commented on #98
Hi Frank @fysteven were you doing lots of parallel connections?

[2016-04-19 20:55] fysteven commented on #98
Hi Chris @chrismattmann , the following snippet is how I iterated the file list.
It failed around the 8181st detection of file.
Looks like the Tika Server would establish a new connection for each detection, right?

[code]

[2016-04-22 23:34] chrismattmann commented on #98
hi @fysteven any update here? Are you still seeing this?

[2016-04-25 14:56] bitsgalore opened #99 "CLI plaintext output misbehaviour when using installer"
I installed tika-python using pip, and then ran it in detect mode on all files in a directory using the following command:

[code]

Result stdout.txt:

[code]

Result stderr.txt:

[code]

So instead of printing the mimetype strings as plain text, it actually prints a dump of the internal Python objects (moreover they're printed to stderr, where I would expect stdout)! I then cloned the repo and ra

[2016-04-25 15:05] chrismattmann commented on #99
hi @bitsgalore interesting problem. I'll investigate. I would imagine in the meanwhile you have a good workaround and/or you can call it from python directly or in a script.

[2016-04-25 23:55] chrismattmann commented on #99
@brianwilson1 can you help here

[2016-04-26 07:34] yashtanna93 commented on #99
@chrismattmann it looks like pip is not updated with the latest commits done on github. I tried it with pip sources and I got those statements but not when I built it with sources on github.

[2016-05-01 18:25] anirbanmishra opened #101 "Tika Python not working for Java 1.8"
As a part of my work I am supposed to call tika parser to get the contents of file in XHTML format and then feed it to the Grobid Quantities tool to get measurements details for each file. I found that Grobid quantities worked on Java 1.8 so I updated my java version to 1.8. At this stage the tika-python failed to work. Can some one please check if Tika-python works with java 1.8 because as soon a

[2016-05-16 11:41] yashtanna93 commented on #99
@bitsgalore I am not able to recreate the issue. Does it still exist?

[2016-05-16 11:46] yashtanna93 commented on #101
@anirbanmishra tika-python is working with java 1.8 on my system.
I am using Kubuntu and the java version is
java version "1.8.0_77"
Java(TM) SE Runtime Environment (build 1.8.0_77-b03)
Java HotSpot(TM) 64-Bit Server VM (build 25.77-b03, mixed mode)

[2016-05-17 04:36] chrismattmann commented on #101
i also have 1.8 and it works OK for me @anirbanmishra can you please confirm? I'm closing for now since it works for both myself and @yashtanna93

[2016-05-17 04:36] #101 closed

[2016-05-17 04:36] chrismattmann commented on #98
closing since I never heard back. Please re-open if you still see this.

[2016-05-17 04:36] #98 closed

[2016-05-17 04:37] chrismattmann commented on #99
I'm not sure if I see it @yashtanna93 Hey @bitsgalore can you confirm it's still there?

[2016-05-17 04:37] chrismattmann opened #102 "Upgrade to Tika 1.13"
as titled.

[2016-05-17 15:47] bitsgalore commented on #99
I just uninstalled tika-python and then tried to re-install using:

    sudo pip install tika --upgrade

But after running this, I don't see any trace of `tika-python` in `/usr/local/bin/` (didn't have this problem before).

Not sure if this is relevant at all but during the install process I got the following messages:

      Found existing installation: setuptools 3.3
        Not uninstalling se

[2016-05-18 21:09] chrismattmann commented on #99
hrm @bitsgalore you may need to rm -rf tika from site-packages and then try to reinstall..

[2016-05-23 09:32] Ph-St opened #103 "Update tika-python in accordance with changes in response to TIKA-1982"
Should [TIKA-1982](https://issues.apache.org/jira/browse/TIKA-1982) be implemented such that the detected language will be available form the /rmeta endpoint, tika-python probably needs updating so that the detected language is available there as well.

[2016-05-25 15:08] chrismattmann commented on #102
fixed in #105

[2016-05-25 15:08] #102 closed

[2016-05-25 15:23] chrismattmann commented on #97
Another test failure (passes locally): https://travis-ci.org/chrismattmann/tika-python/jobs/132871651

Seems to result from not being able to make a network connection on that test box.

[2016-05-28 16:20] smadha opened #107 "Add modules in tika-server classpath while creating instance of tika-python"
To use advanced capabilities of Tika like NER Parser, GeoTopicParser, CTakes we need to modify  classpath while bringing up tika-server. classpath can be appended in below lines of code -

https://github.com/chrismattmann/tika-python/blob/69f4a8e321e40ff068ead25756219bfa966139eb/tika/tika.py#L351

[2016-06-10 08:59] rastermechanism opened #108 "call with url"
[tika.py: Retrieving http://www.assignmenthelp.net/ to C:\Users\Rakesh\AppData\Local\Temp/.]

Traceback (most recent call last):
  File "C:\Users\Rakesh\Anaconda3\lib\site-packages\tika\tika.py", line 368, in getRemoteFile
    urlretrieve(urlOrPath, destPath)
  File "C:\Users\Rakesh\Anaconda3\lib\urllib\request.py", line 197, in urlretrieve
    tfp = open(filename, 'wb')
PermissionError: [Errno 13

[2016-06-17 20:16] ololobus opened #112 "Multiple extra \n at the beginning of the output text"
I have a running Tika server locally at `http://localhost:9998/tika`

When I use it directly via curl it returns proper result:

[code]

But using `tika-python` I get extra `\n`'s:

[code]

Looks like a problem with `tika-python` package or it uses additional params with Tika which can be changed?
Please, find pdf attached. [EnglishSample (dragged).pdf](https://github.com/chrismattmann/tika-python

[2016-06-20 21:04] Purg opened #113 "No server start error checking"
If attempted on a system without java, or if the server failed to start for whatever reason, no error is raised until an action is attempted (`checkTikaServer` does not fail if the server fails to start).

Also, there is a sleep in `startServer`. Should make some actual calls to the server to check that its running correctly, i.e. spin-loop a request until it succeeds, or time/max-retry out.

[2016-06-20 21:06] Purg commented on #113
Also, either the default value for ``checkTikaServer`` port (``Port``) needs to be an integer (https://github.com/chrismattmann/tika-python/blob/master/tika/tika.py#L101), or the command template (https://github.com/chrismattmann/tika-python/blob/master/tika/tika.py#L351) needs to be able to take a string (``%i`` -> ``%s``).

[2016-06-20 21:11] Purg commented on #113
Primary reason for this issue: system does not have java installed, e.g. a new docker instance or ubuntu/centos/etc.

[2016-06-21 01:58] chrismattmann commented on #113
Thanks @Purg will check it

[2016-06-22 17:48] harsham05 opened #114 "ValueError: No JSON object could be decoded"
[code]

@chrismattmann I might have a fix for this. Will send PR soon.

[2016-06-23 01:45] harsham05 commented on #114
Looking the tika-server.log I guess the file was too big.

[code]

[2016-06-23 22:44] chrismattmann commented on #114
@harsham05 if the file was too big yeah that looks like a tika-server issue.

[2016-06-23 22:44] #114 closed

[2016-06-23 22:44] chrismattmann commented on #114
can you file this issue in tika server?

[2016-06-23 22:45] chrismattmann commented on #113
hmm I like the idea of spin loop and check that a call succeeds, but it will introduce some minor but acceptable overhead. I'll implement that @Purg thanks for the report.

[2016-06-23 22:46] chrismattmann commented on #112
Hi @ololobus do you have any idea why this is happening? I've looked and it's non obvious to me, perhaps something in parser.from_file?

[2016-06-23 22:47] chrismattmann commented on #108
Hi @rastermechanism this looks like an issue in that you don't have permission to write to your temp directory.

[2016-06-23 22:47] #108 closed

[2016-06-23 22:47] chrismattmann commented on #107
Hi @smadha it looks like #110 helps us here.

[2016-06-23 22:47] #107 closed

[2016-06-23 22:47] harsham05 commented on #114
Sure thing @chrismattmann I will file a JIRA ticket

[2016-06-23 22:49] chrismattmann commented on #97
Hmm, I'm going to close this. It has to do with Travis. In general it's hard for us to directly improve the reliability here.

[2016-06-23 22:49] #97 closed

[2016-06-26 17:52] ololobus commented on #112
Hi @chrismattmann I have no clear ideas too, but I would rather look deeper into call stack, e.g. https://github.com/chrismattmann/tika-python/blob/master/tika/tika.py#L313. Maybe some multiple decoding/encoding error.

I use latest Tika server and noticed, that result sometimes differs when using different server endpoints: `/tika` (no multipart, entire file inside message body) and `/tika/form`

[2016-06-26 20:31] chrismattmann commented on #112
hey @ololobus do you think it's: https://github.com/chrismattmann/tika-python/blob/master/tika/parser.py#L50 - in particular on that line, I take multiple JSONs (in case it's a composite type), and then aggregate together the parsed content and the parsed metadata. If the parsed content is '\n\n' I could see it getting replicated for a few times over.

[2016-07-08 05:52] chrismattmann opened #116 "Expose classpath as module variable"
Classpath was introduced in #110 but it needs to be exposed as a module variable, e.g.,:

[code]
And then have it be set in all functions after that. We don't need to allow its override in parser.from_* methods.

[2016-07-13 20:22] #116 closed

[2016-08-26 12:43] bainadeashish commented on #98
I am getting text contents from Azure web server with below code
from tika import parser
text = parser.from_file(file)--file is doc file

I am getting below error
HTTPConnectionPool(host='localhost', port=9998): Max retries exceeded with url: /rmeta/text (Caused by NewConnectionError(': Failed to establish a new connection: [Errno 10013] An attempt was made to access a socket in a way forbidden by

[2016-08-26 13:10] bainadeashish opened #121 "Tika connection issue"
I am getting below error on Azure Web app using below below code
from tika import parser
text = parser.from_file(r"D:\home\test\vikaspatil1.doc")
error i am getting below error
HTTPConnectionPool(host='localhost', port=9998): Max retries exceeded with url: /rmeta/text (Caused by NewConnectionError(': Failed to establish a new connection: [Errno 10013] An attempt was made to access a socket in a wa

[2016-11-11 00:23] chrismattmann opened #123 "Upgrade to 1.14 now that it's released"

[2016-11-23 14:50] AhmadSawalhah opened #124 "Can't Read Arabic file names"
@chrismattmann
problem in reading files if its name is Arabic
try this file name ( احمد.docx)  , it give me this error

`File "C:\Python34\lib\http\client.py", line 1109, in putheader
    values[i] = one_value.encode('latin-1')
UnicodeEncodeError: 'latin-1' codec can't encode characters in position 21-27: ordinal not in range(256)
`
when I just change the name to english, it works fine
thanks

[2016-11-24 22:22] chrismattmann commented on #124
I'll check it out @AhmadSawalhah but it may have to come in 1.15

[2016-11-24 22:22] chrismattmann commented on #121
Hi @bainadeashish this looks like an issue where your tika server wasn't running. Please open new issue if problem persists.

[2016-11-24 22:22] #121 closed

[2016-11-25 08:48] NotSureAbout opened #125 "Python 3 support for tika.detector"
from tika import detector

mime = detector.from_file('/path/to_file')

Seems to have some problems with UTF-8

Have I misunderstood how this is supposed to be used?

[2016-11-27 00:42] gryBox opened #126 "ConnectionRefusedError Windows 7"
Hi - I am trying to work with `tika-python` in windows 7, Anaconda, python 3.5 - And am experiencing connection errors. Is there something I missed in the example?

The code:
[code]
Generates this error.

[code]

[2017-01-15 02:27] chrismattmann commented on #125
Hi, can you list the problems here?

[2017-01-15 02:28] chrismattmann commented on #126
looks like a firewall issue to me. Are you not allowed to create a port (the default localhost one, bound to * on windows so it listens on all interfaces) is 9998. Can you check?

[2017-01-15 04:16] gryBox commented on #126
Hi @chrismattmann  - I am not sure what happened, but somehow **I am no longer getting the error** message.  The only difference I can think of is some updates I made to various packages.   Lovely module - A real time saver. Thanks

[2017-01-17 17:54] chrismattmann commented on #126
Thanks @gryBox please re-open if you see this in the future. Cheers!

[2017-01-17 17:54] #126 closed

[2017-01-17 17:54] chrismattmann commented on #125
closing the issue for now. If it re-appears please file a new issue and cite this.

[2017-01-17 17:54] #125 closed

[2017-01-17 17:55] chrismattmann commented on #124
in your program can you force the encoding *before* calling Tika?

[2017-01-27 11:06] attibalazs opened #127 "Is there a way to limit the content being parsed ?"
I would like to limit the content returned by Tika to the first 1000 characters ? Is there a way to do this using your library.

Thanks for your awesome library and all the hard work for making it easy to talk to Tika from Python.

[2017-01-27 13:32] nickstanisha opened #128 "Using a local .jar file?"
If I already have a tika .jar file downloaded stored, can I tell tika-python to always use use the one I have and never look to maven or its cache directory?

The best solution I could come up with is to specify the local .jar as a `file:///...` URI and rely on tika-python's downloading and caching behavior to find and use it, but that seems a bit indirect for something like this.

[2017-02-04 05:47] chrismattmann commented on #127
thank you @attibalazs for your issue! Can you just take the return from parser.from_file()[:1000] like that?

[2017-02-04 05:48] chrismattmann commented on #128
the file:// strategy is a great one @nickstanisha - would love to see a page on the wiki that shows how you did it. I think it's great for now.

[2017-02-04 05:48] #128 closed

[2017-02-04 12:45] attibalazs commented on #127
Yes that`s how I was doing it, but it was very slow. Tika will parse the whole document and then only return the fist 1000 characters which isn`t very efficient. I was looking for a way  to tell Tika that it doesn`t need to go through the whole document. I ended up writing my own parsers in the end.

[2017-02-18 19:14] braunreyes opened #129 "Using tika-python in AWS lambda"
Would you recommend using this package as part of a text extraction pipeline in aws lambda?  Has anyone tried this before?  I guess memory/compute would be my main concern.  Looks like open jdk 8 may be installed for python runtime.  Any feedback would be greatly appreciated.

[2017-02-28 15:18] chrismattmann commented on #129
hey @braunreyes - looking at the description of Lambda it seems like tika-python would be a good candidate for it. It will manage invocation of JDK, etc. but I don't see that as overly imposing.

[2017-02-28 15:26] chrismattmann commented on #124
closing this as there is a current work-around. Just convert file name to English, then run. If you can answer my questions in the future feel free to open a new issue and cite this.

[2017-02-28 15:26] #124 closed

[2017-02-28 15:30] chrismattmann commented on #112
hmm, I'm going to close this as Wont Fix for now. I could strip out the newlines and I think [Line 50](https://github.com/chrismattmann/tika-python/blob/master/tika/parser.py#L50) is where the issue is coming from but this is a harder problem than first thought. How do I know how many \n to strip at the end? It seems like it only affects files that have multiple JSON that are output too.

[2017-02-28 15:30] #112 closed

[2017-02-28 15:30] chrismattmann commented on #103
pushing to 1.15 since TIKA-1982 hasn't been addressed yet.

[2017-02-28 15:31] chrismattmann commented on #99
not sure this is still an issue, so closing it.

[2017-02-28 15:31] #99 closed

[2017-02-28 15:32] chrismattmann commented on #127
Got it thanks @attibalazs . I don't have time to work on this now, so if you have time in the future please share your work arounds and I will link to them.

[2017-02-28 15:32] #127 closed

[2017-02-28 15:38] #123 closed

[2017-03-01 18:42] alonsopg opened #130 "tika-python with Tesseract OCR parser"
Is it possible to set Tesseract OCR parser with this wrapper?.

[2017-03-01 18:44] chrismattmann commented on #130
Hi - what do you mean set? If you mean configure it yes just a little kludgy. See the readme example for how to turn on geo topic parser as an example.

[2017-03-06 15:11] alonsopg commented on #130
Thanks @chrismattmann, I tried to check the readme. However, I did not understand how to configure the wrapper with tessaract. Could you provide some example?.

[2017-03-13 14:21] lamb003 opened #131 "Selecting output content type"
Firstly thanks for this project @chrismattmann.

I've been working with it for a short time now. And really like that I can interface with tika this way.
Although I'd like to ask for/suggest an enhancement.

Tika seems to allow for an output content in text, xml and html.
As per: https://wiki.apache.org/tika/TikaJAXRS#Recursive_Metadata_and_Content
Outputs as xml/html may be useful for targeting s

[2017-03-13 15:20] lamb003 commented on #131
I have just seen issue #65 and that this is supported.
Closing this ticket.

[2017-03-13 15:20] #131 closed

[2017-03-13 21:13] sebgoa opened #132 "Use google translation"
Hi, I am total newbie with tika but I got the basics running properly.

I am curious to know how I could use this client to do a translation that use the Google translate API ?

thanks,

-seb

[2017-03-13 21:34] chrismattmann commented on #131
Thanks!

[2017-03-15 17:20] sebgoa commented on #132
and fwiw, I cannot use the default translation with lingo42

[2017-03-15 17:23] chrismattmann commented on #132
I'll respond shortly sorry. You have to add your config file and custom start tika server with translation property file info

[2017-03-22 04:27] chrismattmann commented on #132
hey @sebgoa so this works fine.

## Start the Tika server with Classpath pointing to your language keys

## Use Tika-Python

[code]

here is the structure of language-keys:

[code]

Each of the properties files has your associated keys, e.g., as shown here:

* [translator.google.properties](https://github.com/apache/tika/blob/master/tika-translate/src/main/resources/org/apache/tika/language/transl

[2017-03-24 04:21] #132 closed

[2017-03-24 04:22] chrismattmann commented on #130
sure @alonsopg I'll provide an example shortly. Sorry about that.

[2017-03-24 07:39] sebgoa commented on #132
Thanks Chris for the detailed answer. FWIW we are packaging Tika as a Kubernetes Chart here:
https://github.com/bitnami/charts/tree/tika-server/incubator/tika-server

[2017-03-24 16:23] chrismattmann commented on #132
anytime @sebgoa thank you for packaging Tika! Really appreciate it.

[2017-03-25 20:43] chrismattmann commented on #132
@sebgoa added a link here: http://wiki.apache.org/tika/API Bindings for Tika

[2017-03-26 16:19] gabriel-v opened #133 "Multiple instances of tika-python request write access to the same /tmp/tika.log file"
## The problem

[This line](https://github.com/chrismattmann/tika-python/blob/e67ecabefb2c08cd0ce0415f815551c802af95fd/tika/tika.py#L102) hardcodes the log file to `/tmp/tika.log`.

If multiple instances of tika-python are used by two different unix users, the second user that imports an instance of tika-python won't have write access to the log file created by the first user and the import will f

[2017-03-26 16:20] Pika-Boo opened #134 "Errno 111: Connection Refused"
Getting the following error while trying to use the parser:
![image](https://cloud.githubusercontent.com/assets/7687847/24333003/3d4f12d4-126e-11e7-9d8b-ca0bd7f5cc23.png)

[2017-03-26 17:38] alonsopg commented on #130
Thanks @chrismattmann !

[2017-03-26 17:41] chrismattmann commented on #133
Thanks @gabriel-v appreciate you raising this issue. I like this option:

Would you like to send a PR for this?

[2017-03-26 17:42] chrismattmann commented on #134
Hey @Pika-Boo can you make sure that you don't have any running instances of programs on 9998 (including prior Tika servers). First try `killall java` then try starting python and importing tika and running it.

[2017-03-27 03:37] #133 closed

[2017-03-27 03:37] chrismattmann commented on #133
thank you really appreciate it @gabriel-v

[2017-03-28 19:17] thammegowda opened #136 "Add documentations to methods"
Current very few methods have documentation strings.

We need documentation to facilitate meta learning.

References for the format:
+ reST - PEP287 : https://www.python.org/dev/peps/pep-0287/
+ Discussions on Stackoverflow http://stackoverflow.com/questions/3898572/what-is-the-standard-python-docstring-format

[2017-03-29 16:44] chrismattmann commented on #129
question answered, if someone does this I would love to hear about it!

[2017-03-29 16:44] #129 closed

[2017-03-29 18:23] chrismattmann commented on #136
thanks @thammegowda just mention which files you want to work on and we'll divide the work! 👍

[2017-04-05 20:47] thammegowda commented on #136
Just a few methods exist in this code.  Leave this to me 💯 %

[2017-04-05 22:47] #136 closed

[2017-04-12 11:47] mitschwimmer commented on #134
Hey @chrismattmann, first of all, thanks for this very handy tool.

I just wanted to let you know  that I had the same error message as pika-boo. The reason for me was quite trivial -I did not have java installed on the machine. Once I installed JRE everything works as expected and known from my dev machine.

[2017-04-20 09:21] zixuzhang commented on #114
maybe tika-server.jar is wrong.

[2017-04-25 05:03] alonsopg commented on #130
Hi @chrismattmann I'm still stucked with the Tesseract OCR parser is there any other reference where I can learn how to set such parser?. Thanks!

[2017-04-25 17:25] chrismattmann commented on #134
thank you @mitschwimmer appreciate the feedback. I'm going to close this assuming this is the root cause. Please re-open @Pika-Boo if that was not the issue.

[2017-04-25 17:25] #134 closed

[2017-04-25 17:26] chrismattmann commented on #130
Hi @alonsopg basically you want to check out: http://wiki.apache.org/tika/TikaOCR, and then kill the existing Tika REST server (if it's running). Once tesseract is on your path, Tika-Python should pick it up automatically. Try that.

[2017-04-28 00:08] chrismattmann commented on #130
ping @alonsopg

[2017-04-28 02:12] alonsopg commented on #130
Thanks @chrismattmann , I will try to do it.

[2017-05-12 05:51] Haridhan opened #139 "pdf processing throwing ("No JSON object could be decoded")"
Pdf processing using tika is throwing the below exception.,
I am using python 2.7 version

Exception:

Thu May 11 22:46:28 2017 WARNING  Tika server returned status: 404
Traceback (most recent call last):
  File "/appbin/ce_project/ibd_core/hari/Ingestion/script/bd_ingest_file.py", line 83, in <module>
    input_df = bd_common_func.ingest_file(file_name,ingest_config_dict['hive_context'],src_file_

[2017-05-24 23:50] chrismattmann commented on #139
hi @Haridhan can you 1. attach the PDF file in question? and 2. show me the value of <your tmp dir, e.g., /tmp>/tika-server.log ? Is it giving an error in tika server? Have you tried this PDF against Tika Server?

[2017-05-24 23:51] chrismattmann commented on #130
did you try @alonsopg ?

[2017-05-28 07:52] frennkie opened #140 "Add support for SSL/TLS connection"
I have a host where I can't install Tika/Java and therefore I set up a dedicated Tika machine. On that machine I'm using nginx as a reverse proxy to forward the external port 8080 to the internal Tika port 9998 and this works fine.

But now I would also like to encrypt the connection between my host and the Tika machine - which is easy on the server side as I just have to add SSL to the nginx conf

[2017-05-28 18:14] chrismattmann commented on #140
Hi - have you tried using that HTTPS URL - dumb question - but thought I'd ask

[2017-05-28 18:29] frennkie commented on #140
Yes, I tried it - unfortunately I did not record the error message. But this line https://github.com/chrismattmann/tika-python/blob/master/tika/tika.py#L544 indicates to me that `http:// ` is hardcoded.

If SSL/TLS can be supported then it would also be useful to be able to turn off verification (if needed) and to provide a custom CA bundle.

[2017-05-28 18:49] frennkie commented on #140
Here is the (partial) trace:

[code]

[code]

I noticed that `checkTikaServer` is bypassed when `TikaClientOnly` is True.. but how would I set that?

[2017-05-29 03:48] chrismattmann commented on #140
@frennkie can I see your code that is using tika-python? For example, when you use tika.TikaClientOnly = True, and then e.g., do:

[code]
In that case does it force HTTPS?

Another option you can try, set your environment variable `TIKA_SERVER_ENDPOINT` to `https://somehttpsurl' before starting python - does that fix it?

[2017-05-29 03:49] chrismattmann opened #141 "Upgrade to 1.15 when it is released"
Tika 1.15 is undergoing RC #2 voting, once it's released, upgrade to it, and release Tika-Python

[2017-05-29 03:54] chrismattmann commented on #141
See release thread here: https://s.apache.org/hoNo

[2017-05-29 03:55] chrismattmann commented on #130
going to close this out - if you find the same problem or if the docs weren't helpful please open a new issue.

[2017-05-29 03:55] #130 closed

[2017-05-29 03:55] chrismattmann commented on #139
ping @Haridhan

[2017-05-29 06:12] frennkie commented on #140
Nope... Here is the Code which should be just as you are suggesting is:
https://github.com/frennkie/otrs_faq/blob/master/otrs_faq_to_es.py

[2017-05-29 06:14] frennkie commented on #140
Setting config.TIKA_URL to `http://host:9080` works, `https://host:9443` doesn't.

[2017-05-29 15:55] chrismattmann commented on #140
what about the environment variable @frennkie ?

[2017-05-30 07:11] Haridhan commented on #139
Below error thrown at tika-server.log
Error: Could not find or load main class org.apache.tika.server.TikaServerCli

Attached the pdf
[spark.pdf](https://github.com/chrismattmann/tika-python/files/1037488/spark.pdf)

[2017-05-30 07:12] Haridhan commented on #139
Hi,Chris,

Below error thrown at tika-server.log
Error: Could not find or load main class
org.apache.tika.server.TikaServerCli

Attached the pdf file which i am processing.

Regards,
Hari

On Mon, May 29, 2017 at 9:25 AM, Chris Mattmann <notifications@github.com>
wrote:

[2017-05-30 17:47] chrismattmann commented on #139
What platform are you on?

[2017-05-30 18:05] Haridhan commented on #139
Linux
cat /etc/redhat-release
CentOS release 6.5 (Final)

On Tue, May 30, 2017 at 11:17 PM, Chris Mattmann <notifications@github.com>
wrote:

[2017-06-01 05:55] Haridhan commented on #139
Any update on here

[2017-06-06 05:39] chrismattmann commented on #139
Can you try killall java before trying to restart your python interpreter? Maybe a ghost java proc somewhere? At worst can you bounce the machine and try again?

[2017-06-06 21:42] chrismattmann commented on #139
@Haridhan ping

[2017-06-18 04:32] chrismattmann commented on #140
taken care of in #142 thank you @frennkie !

[2017-06-18 04:32] #140 closed

[2017-06-18 04:33] chrismattmann commented on #141
Tika 1.15 has been released upgrade to it.

[2017-06-22 17:47] chrismattmann commented on #139
please open a new issue if you see this again.

[2017-06-22 17:47] #139 closed

[2017-07-05 23:04] #141 closed

[2017-07-13 09:05] teoric commented on #65
I stumbled on this it searching for a way around `tika-python` because I could not get the XHTML. It seems that you added the `xmlContent` flag to the parser interface meanwhile (on 1.15, it works). This is great!

Would you mind adding it to the documentation, or do you still consider it too unstable?

[2017-07-14 16:37] chrismattmann commented on #131
thanks @lamb003 appreciate it. I see too that you asked for some updated docs. If you have time can you document this feature and send me a PR for the README? Thanks.

[2017-07-18 22:02] leungi opened #144 "Decode/Encode Issue with Python 3.x"
Tested on Environment:
Python 3.6.0 |Anaconda 4.3.1 (64-bit)| (default, Dec 23 2016, 11:57:41) [MSC v.1900 64 bit (AMD64)]

Parser module runs fine, but not the others (e.g. language, unpack).

_Code_
from tika import translate

filePath = <file path>

print(translate.from_file(filePath, 'en', 'en'))

Traceback (most recent call last):

  File "<ipython-input-3-aab0939eb73c>", line 2, in <module>

[2017-07-21 01:48] antman1p opened #145 "No method fro appending new metadata"
I cannot find a method for appending new metadata like FileName.

[2017-07-21 03:38] chrismattmann commented on #145
Hi @antman1p I'm not sure exactly what you mean by appending new metadata? the parser interface for example returns a dictionary content parsed text content and metadata. You can do what you want with that returned struct? So that should be enough, right?

[2017-07-21 03:38] #145 closed

[2017-07-22 01:58] antman1p commented on #145
I got it to work in my script with this line:
`parsed['metadata'].update({"FullFileName": str(file)}`

[2017-07-24 11:24] seyhbold commented on #144
Hi, I have the same issue when using `detect` on Windows using python 3.6.2.
Is there any workaround until this is fixed?

Thank you very much
seyhbold

[2017-07-28 15:04] wingtips1 opened #146 "Unable to send header information for ocr"
I’m using tika-python for a health care application to help extract text from medical documents.
At this time, cannot send header information to the tika server in Python to use with OCR.

For example in Postman, I can do:
PUT http://localhost:9998/tika

With headers:
Content-type: application/pdf
X-Tika-PDFOcrStrategy: ocr_only

If I don’t do this, many pdfs in the store of documents I am parsing

[2017-08-08 15:09] lamb003 commented on #131
@chrismattmann sure, I will take a look at doing that.

[2017-08-09 07:54] maeb opened #149 "Command line tool's exit code is nonzero on success"
_Environment: GNU/Linux Fedora 26 and python 2.7_

When i try to detect a language like `tika-python language file /tmp/text.txt` the return code is non-zero (1) on success.

The wrapper in `env/bin/tika-python` (installed by pip?) exits like `sys.exit(main())` and `main()` returns the result of `detectLanguage` which returns an array like `[(200, u'no')]`.

So the script is exited like `sys.exit(

[2017-08-09 14:24] chrismattmann commented on #149
thanks @maeb What would you recommend as a way of addressing this? Thoughts? Do you have a PR in mind?

[2017-08-09 14:26] chrismattmann commented on #144
There is a work-around here. Character encoding issues like the original one posted are usually not TIka's fault...please check your environment, or use the work-around.

[2017-08-09 14:26] #144 closed

[2017-08-10 16:49] leungi commented on #144
Noted. Thanks.

Sticking with 2.7 for stability.

[2017-08-11 09:23] seyhbold commented on #144
It may not be tika's fault but it could be addressed in tika-python.
Now the `from_file` function is useless for Windows Python3 Users if a file is read from the local filesystem.

[2017-08-11 18:51] chrismattmann commented on #144
@seyhbold it definitely could be. I'm not a Python3 user so if you have a test case that demonstrates this, and ideally a fix, I would review/potentially commit both of them. In short, if you have time, help, otherwise, this is not high in my priority queue to fix atm and I would need help anyways since I use Python2.7

[2017-08-23 11:35] pgrandinetti opened #150 "permission denied for log_file /tmp/tika in web server with virtualenv"
Installing python-tika in a EC2 server (with django app and virtualenv) leads a Permission Denied error on executing the following line
https://github.com/chrismattmann/tika-python/blob/master/tika/tika.py#L142

looks like the temp file is created within the virtualenv folder and so it cannot be written by the web server?

Cheers

[2017-08-23 17:35] pgrandinetti commented on #150
of course` chmod over the /tmp/tika*` files work, but some out-of-the-box solution would be nicer

[2017-08-31 06:47] Balachandar-R opened #151 "Apache Tika : [MainThread ] [WARNI] Tika server returned status: 500"
Hi team,

When i am trying to extract the content of  files(95 PPT files) from a repository, suddenly the Apache tika server throws an warning and the extraction got failed.

May i know how maximum number of files that tika can process it in a single run.?

Thanks
Balachandar

[2017-08-31 20:23] chrismattmann commented on #151
it can process easily that many in a single run. My guess is something happened to your Tika server (`ps aux | grep java | grep tika` yield anything?) If you need to restart tika, kill the server, then restart your python app should work fine after that!

[2017-08-31 20:24] chrismattmann commented on #149
ping @maeb

[2017-09-01 05:24] pgrandinetti commented on #150
As a colleague suggested, setting TIKA_LOG_PATH to a folder writable by the webserver is already a better solution than my `chmod`.
Nevertheless, it seems to me the downloaded .jar file goes to the /tmp anyway.
Maybe your code could create a dir from within your code and put there all needed files?

Another little issue (not strictly related): if I am not wrong, when I call `parse_file` twice in a

[2017-09-01 17:11] chrismattmann commented on #150
hi @pgrandinetti so, TIKA_LOG_PATH seems to be a valid work-around. The intent is for the downloaded jar in fact to go to /tmp (so that it disappears after the computer is restarted and downloaded again). Also I do not see the behavior you cite from calling parse_file twice the 2nd time is much faster after download since the server is running. Please produce a unit test that exposes this behavior

[2017-09-01 17:11] #150 closed

[2017-09-01 17:12] #151 closed

[2017-09-01 17:12] chrismattmann commented on #149
hi @maeb let me know if you have a fix for this, otherwise I will likely go ahead and close it.

[2017-09-01 17:29] lathakris opened #152 "parser interface for text extraction"
I have a little program to do the meta and text extraction from files (trying with PDF).  (file is the filename with complete path). I am using the parser interface. Took from the sample provided on this documentation.

parsed = parser.from_file(file,  xmlContent=False)
print("****metadata****")
print(parsed["metadata"])
print("****content****")
print(parsed["content"])

The program is unable to p

[2017-09-01 17:38] chrismattmann commented on #152
hi @lathakris can you try setting your python charset in the environment? for example, can you try to use unicode.encode and encode the result of parsed["content"] to utf-8 and then try printing it?

See: https://stackoverflow.com/questions/2276200/changing-default-encoding-of-python

[2017-09-01 17:43] lathakris commented on #152
Thank you for your quick response.
Let me give this a try. the unpack interface works fine not sure why. (just that it is not extracting text out of zip files)

parsed = unpack.from_file(file)
print("****metadata****")
print(parsed["metadata"])
print("****content****")
print(parsed["content"])

[2017-09-01 18:40] lathakris commented on #152
when I export this environment variable on the console and run the program it works
export PYTHONIOENCODING=utf8. default result seems to be utf8.

Thank you very much.

[2017-09-01 20:04] chrismattmann commented on #152
awesome @lathakris can you update the README.md file and then send me a PR noting this? Thanks!

[2017-09-01 20:05] #152 closed

[2017-09-01 20:25] lathakris commented on #152
Thank you. I think I have created a PR. Could you please check. Thank you.

https://github.com/chrismattmann/tika-python/pull/153

[2017-09-01 20:41] chrismattmann commented on #152
thanks @lathakris committed!

[2017-09-01 21:17] lvieirajr commented on #146
I also feel this pain on my use case so I created a PR to solve the problem: #154

[2017-09-01 22:04] chrismattmann commented on #146
fixed in #154 thanks @lvieirajr

[2017-09-01 22:04] #146 closed

[2017-09-05 04:52] Balachandar-R commented on #151
@chrismattmann Thanks for your reply.. I have killed the running processes and rerun the tika server to extract the contents from 110 files(PPTs) in a single run. But again got the same errors. but when i run it with 40 documents it will be work fine and even works fine for a large PPT's when i run it with single PPT.

2017-09-05 04:44:18,675 [MainThread  ] [INFO ]  Retrieving http://search.maven.

[2017-09-05 16:08] lathakris commented on #152
Thank you.

[2017-09-06 21:53] lathakris opened #155 "meta data extraction"
Hi,

I am using the parser interface to extract the meta data and content from documents. Is there any python wrapper to extract specific fields like author, creation time etc.. I see that the json key returned is different for different types of documents. It appears that java has an API to do this ?

Thank you.

[2017-09-06 22:54] lathakris commented on #155
I am sorry I think the json keys are the same across documents. Some of them are unavailable may be because the meta of the document does not contain them. Thank you.

[2017-09-07 09:09] maeb commented on #149
Hi @chrismattmann Sorry for the late answer.

I encountered this bug while trying out something at work and have unfortunately no time to implement a fix for this issue.

[2017-09-07 09:09] #149 closed

[2017-09-07 18:34] chrismattmann commented on #149
Understood maybe when you get time send a PR and I'll look thanks!

[2017-09-14 11:19] mridulnagpal opened #156 "Issue with SSL certificate"
Trace :

2017-09-14 16:48:35,768 [MainThread  ] [INFO ]  Retrieving http://search.maven.org/remotecontent?filepath=org/apache/tika/tika-server/1.15/tika-server-1.15.jar to /tmp/tika-server.jar.
Traceback (most recent call last):
  File "test.py", line 4, in <module>
    parsed = parser.from_file('./R1.pdf', xmlContent=True)
  File "build/bdist.linux-x86_64/egg/tika/parser.py", line 38, in from_fil

[2017-09-15 05:46] ToniyaSundaram opened #157 "Parsed Content is none when I am trying to extract text from a image."
parsed = parser.from_file('D:/PythonPrograms/sample.png', 'http://localhost:9996/')
parsed

I tried this. any help will be much appreciated. Please help.

[2017-09-20 04:26] Balachandar-R opened #158 "Tika is not working while accessing via proxy"
Hi Team,

I have installed the python-tika-1.14 in Linux (Ubuntu 16.04) box running on cloud. While executing this code

I didn't any error when i have an open access to the Linux Instance.

When i tried the same code under via proxy causing an issue as follows.

2017-09-20 04:25:35,531 [MainThread  ] [WARNI]  Tika server returned status: 403
Traceback (most recent call last):
  File "<stdin>", li

[2017-09-21 15:41] chrismattmann commented on #158
hi @Balachandar-R thanks for your report. What is the proxy URL you are trying to access. I see that you are getting a 403 - does your proxy require credentials?

[2017-09-21 15:42] chrismattmann commented on #156
are you behind a proxy? You may need to download the jar by hand and place it in /tmp, can you try that?

[2017-09-21 15:43] chrismattmann commented on #157
What text are you expecting to be extracted? Can you show me the sample image? Do you have Tesseract installed and available on the tika-server classpath?

[2017-09-21 15:43] #155 closed

[2017-09-22 04:25] Balachandar-R commented on #158
Hi @chrismattmann ,

Thanks for your quick response,

Proxy URL is :
export http_proxy="http://172.27.66.50:9400"
export https_proxy="http://172.27.66.50:9400"

Thanks,
Balachandar

[2017-09-22 04:55] chrismattmann commented on #158
Does it require credentials?

[2017-09-22 05:22] Balachandar-R commented on #158
No, Tika server got started and 9998 is open and we could LISTEN (127.0.0.1:9998) via the command
netstat -na | grep 9998.

The request reached the proxy sever and response we will not get it back.

[2017-09-22 16:17] chrismattmann commented on #158
can you add a URL parameter to parser.from_file('/path/to/file', 'http://172.27.66.50:9400') and try that? (all methods at the interface level take an optional parameter for a diff Tika server to contact). @Balachandar-R

[2017-09-25 03:50] Balachandar-R commented on #158
@chrismattmann

I m getting the following error when i tried with URL parameter.

2017-09-25 03:47:55,617 [MainThread  ] [WARNI]  Tika server returned status: 504
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/tika/parser.py", line 37, in from_file
    return _parse(jsonOutput)
  File "/usr/local/lib/python2.7/dist-packages/t

[2017-09-25 04:22] chrismattmann commented on #158
mmm looks like you are getting an HTTP 504 error, which corresponds to:

[code]

[2017-09-25 04:23] chrismattmann commented on #158
(proxy configuration issue?)

[2017-09-27 09:43] Balachandar-R commented on #158
Hi @chrismattmann ,

This issue got resolved by setting no_proxy="proxy-address" in code level.
Thanks for your instant replies @chrismattmann

Then one more doubt in the tika server.is there any restriction on the total no of files for extration?
For some specific excel files tika got failed to extract the content with 403 status.

Any comments on the above?

Thanks
Balachandar-R

[2017-09-27 09:43] #158 closed

[2017-09-27 13:55] pgrandinetti opened #159 "Force tika to use tesseract-ocr"
Is there a way to force python-tika to use tesseract?
It cannot parse a scanned PDF, while it works fine if I manually take a screenshot (.png) of a page of the same pdf and give it to tika; the results is correct (I do have tesseract-ocr correctly installed). So I am guessing it does not use tesseract-ocr with the first file because it detects it as PDF.

[2017-10-11 13:30] pgrandinetti commented on #159
As a workaround to this, I am first running a subprocess that fires up the `convert` utility (from imagemagick) so that the scanned pdf is converted to an image, and then I run your `parser.from_file` passing the just-created image.
There are several pitfalls in this:
- the subprocess has to be completed before to continue (quite easy with `Popen.wait()`)
- the image file *must* be written to disk

[2017-10-12 11:36] EssamEid614 opened #160 "Turning tessract on and off ?"
is there an option to turn the OCR options of tessract on and off ? for example when parsing from file it automatically works , however it does slow down the text extraction , is there a way i can turn it on and off using python code as well ?

[2017-10-31 10:44] Bigb37 opened #161 "Latest version on PyPi"
I've seen that the latest modifications available on the GitHub repository aren't available yet on PyPi. I'm interested in some of them (for instance, the '_headers_' argument in the _parser.from_file_ function) and I therefore would like to know if a release on PyPi is scheduled soon.
Thanks!

[2017-11-10 00:44] HollywoodMarks commented on #129
I am working on this right now.

[2017-11-13 11:49] ekeydar opened #163 "tika.parse fails when there is trailing / in the url"
[code]
[code]

[2017-11-14 03:41] qilicun opened #164 "http error"
Hi,
When I use tika, whatever windows or linux, I received the following error, can anyone help me? Thanks!
```HTTPConnectionPool(host='localhost', port=9998): Max retries exceeded with url: /rmeta/text (Caused by NewConnectionError('<requests.packages.urllib3.connection.HTTPConnection object at 0x7f59b0058b10>: Failed to establish a new connection: [Errno 111] Connection refused',))```

[2017-11-21 06:08] chrismattmann commented on #163
hi, can you suggest a PR to fix this? @ekeydar

[2017-11-21 06:08] chrismattmann commented on #164
what happens when you telnet localhost 9998 @qilicun ?

[2017-11-21 06:09] chrismattmann commented on #157
no feedback since Sept, closing.

[2017-11-21 06:09] #157 closed

[2017-11-21 06:09] chrismattmann commented on #160
suggestion here is to turn it off on the Tika-server end...

[2017-11-21 06:09] #160 closed

[2017-11-21 06:10] chrismattmann commented on #159
this is in the Tika-Server end. If it's configured to use Tesseract (aka if Tesseract is on the path) then it should call it. You could provide a custom config to Tika-Server, and then use tika-python to build that custom config to map the TesseractOCR parser to the specific MIME types you want. If you do that and have a Python programmatic way would love a new PR for it. Thanks.

[2017-11-21 06:10] #159 closed

[2017-11-21 06:11] chrismattmann commented on #156
no comments since Sept, closing

[2017-11-21 06:11] #156 closed

[2017-11-21 06:11] chrismattmann commented on #161
i'll try and find time to handle this tomorrow.

[2017-11-21 07:49] ekeydar commented on #163
sure. will do

[2017-11-22 05:51] chrismattmann commented on #163
thanks @ekeydar appreciate it!

[2017-11-22 05:51] chrismattmann commented on #163
fixed in https://github.com/chrismattmann/tika-python/pull/165

[2017-11-22 05:51] #163 closed

[2017-11-22 21:45] lukewrites commented on #164
Some problem for me on macOS 10.12.6. When I try `telnet localhost` I get:

[code]

[2017-11-23 02:18] qilicun commented on #164
@chrismattmann
When I *telnet localhost 9998*, output is
[code]

[2017-11-23 02:20] chrismattmann commented on #164
Thanks so the issue is likely there is no tika server running - can you ps aux | grep java

[2017-11-23 02:24] qilicun commented on #164
@chrismattmann
[code]

[2017-11-23 06:58] chrismattmann commented on #164
Yep I do not see tika-server - what OS are you on?

[2017-12-04 16:59] piyushgohel opened #166 "how to fix Connection reset by peer while reading pdf"
Hello,

I am extracting data from PDF using this library. But when i pass PDF, it will raise following error.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/vrs/Piyush/Projects/selenium_demo/local/lib/python2.7/site-packages/tika/parser.py", line 34, in from_file
    jsonOutput = parse1('all', filename, serverEndpoint)
  File "/home/vrs/Piyush/Projects/sele

[2017-12-15 15:45] r00t1ng opened #167 "UnicodeEncodeError on utf8 file names"
Hi
I am feeding tika with a filename containing a utf-8 character and I am getting the error here.
Can you suggest a work around?

Thank you

/home/b0b/test/mozilŐ.pdf
Traceback (most recent call last):
  File "tika_initial.py", line 23, in <module>
    parsed = parser.from_file(myFile, 'http://127.0.0.1:9999/tika')
  File "/home/b0b/.local/lib/python3.5/site-packages/tika/parser.py", line 34, in

[2017-12-20 22:31] trevoryann opened #168 "Option to allow parser to return only text of main documents"
I have found some PDF files that have embedded files in them, and would like to extract the text without the attachment. There is no option to do this in the python API.

The attached PDF file has an embedded attachment that has options for the Adobe distiller tool. These options are in postscript, but included as text along with the main text from the PDF file when parser.from_file is called.

[A

[2018-01-15 08:57] yarongon opened #169 "Encoding problem on Unpacking text content"
When unpacking a resource, if the content in UTF-8 a `UnicodeDecodeError` exception is raised. Exception occurs on [`unpack.py`](https://github.com/chrismattmann/tika-python/blob/master/tika/unpack.py) on line 99:
[code]
I was able to fix it using the encoding argument:
[code]

Can you please add this to the code?

[2018-01-23 21:49] mmywu opened #170 "Connection Error"
![connectionerror](https://user-images.githubusercontent.com/35737614/35302684-5a567d62-005d-11e8-9499-541ad167b9c9.JPG)

Thoughts on how to resolve?

[2018-01-24 19:09] mmywu commented on #170
I believe that the package may be incompatible with Java v 9. I receive this error message when attempting to run the apache tika server:
![image](https://user-images.githubusercontent.com/35737614/35351810-19e78bf0-0110-11e8-9756-2c4adb7c483c.png)

[2018-02-22 00:27] chrismattmann commented on #168
hi, unfortunately this isn't a super high priority right now. One possible way to fix this would be to send me a Pull request that:

1. Adds an option to the _parse method for recursive=True (by default).
2. Then in _parse you could check to see if recursive is True: if so, call '/rmeta' otherwise call '/meta' and '/meta/text' endPoints.

If you have time and energy I would be happy to commit this

[2018-02-22 00:27] #168 closed

[2018-02-22 00:31] #161 closed

[2018-02-22 13:11] yarongon commented on #169
Hi,
I've added the code with some tests and sent a PR.

[2018-02-22 13:21] mahtani89 commented on #98
Has anyone found a fix to the issue?

[2018-02-22 22:30] lathakris opened #172 "extracting text from archive files"
Hi,

I am using the parser interface of the tika-python library to extract text content from files.  (parser.from_file) I am running the tika server locally.

How does this work for the text extraction from archive files - tgz, zip etc.  which contain multiple files inside them ? I see that the meta data is returned as a json list ? How about the content.  any specific way to identify this returne

[2018-02-25 19:10] chrismattmann commented on #172
Thanks for your question @lathakris. Right now, the content is appended (as is the metadata, but it is collected in a list as you mention). For the text, it's appended, see: https://github.com/chrismattmann/tika-python/blob/master/tika/parser.py#L80 The thing is, it would be great to pull in the content handler interface from the Java side of Tika, but exposing that via the REST server isn't there

[2018-02-25 19:10] #172 closed

[2018-02-25 19:11] chrismattmann commented on #167
you need to make sure you are using utf-8 encoding to use Tika. Try encoding the filename first and making sure it's utf-8.

[2018-02-25 19:11] #167 closed

[2018-02-25 19:13] chrismattmann commented on #166
looks like an issue with backend of Tika-server. Make sure nothing is already running on 9998 (try `telnet localhost 9998` and make sure if you find a process it's killed). Then try running it again. If you still can't access 9998 it's likely a firewall issue and check your firewall and make sure it allows for localhost binding on * all ports including 9998.

[2018-02-25 19:13] #166 closed

[2018-02-25 20:43] chrismattmann commented on #164
closing since I haven't heard back in months

[2018-02-25 20:43] #164 closed

[2018-02-26 02:12] chrismattmann commented on #98
The issue usually relates to:

1. Your firewall doesn't allow incoming connections on localhost to 9998
2. You already had your own Tika server running on 9998 (not started by Python) and something gets messed up - you need to kill that Tika server, and then let Python start it for you.

[2018-02-26 22:25] lathakris commented on #172
Thank you very much for your response. I will check it out.

[2018-03-01 06:07] Lubdhak opened #173 "nodename nor servname provided, or not known"
[code]

Gives me :

Traceback (most recent call last):
  File "/Users/lubi/Default Folder/WorkSpaces/PycharmProjects/Headway.ai/tika_check.py", line 5, in <module>
    parsed = parser.from_file('Lubdhak_Resume_v6.pdf')
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/tika/parser.py", line 36, in from_file
    jsonOutput = parse1('all', filename, serverEndpoint,

[2018-03-01 16:23] chrismattmann commented on #173
hi @Lubdhak this looks like an issue with resolving localhost. Looking at your log msg, it seems like you are on a mac. Please make sure you have an entry in /etc/hosts for localhost. That ought to fix it.

[2018-03-02 10:57] Lubdhak commented on #173
My /etc/hosts content:

127.0.0.1        localhost
255.255.255.255 broadcasthost
::1         localhost
fe80::1%lo0  localhost

[2018-03-02 17:22] Lubdhak commented on #173
Never ever use any text editor other than vim to edit system files..
[Character Encoding could mysteriously screw you]

[2018-03-03 06:43] chrismattmann commented on #173
ahhh did you fix it? was it a problem there?

[2018-03-06 09:44] Patdue opened #174 "Encoding problem in dedectType1"
When using detectType1 in [tika.py](https://github.com/chrismattmann/tika-python/blob/cb8cd4712bf2b74f90ee8b10683433ce0cfc132f/tika/tika.py) a UnicodeDecodeError is raised on line 459.

To fix the issue i changed
[code]
to

[code]
(like in `parse1`).

I expect the issue to also occur for `detectLang1` and `doTranslate1`

[2018-03-07 23:42] chrismattmann commented on #174
hi @Patdue can you please submit a PR to fix this in those interfaces and then make sure the tests pass? I'd be happy to commit it.

[2018-03-11 01:26] #173 closed

[2018-03-11 01:26] chrismattmann commented on #173
Assuming this is fixed

[2018-03-11 01:27] #169 closed

[2018-03-11 01:27] chrismattmann commented on #169
Fixed in #171

[2018-03-12 09:13] Tehlonewolf opened #176 "Max retries exceeded with url, No connection could be made because the target machine actively refused it"
I've to write an accurate OCR script in python, and as a proof of concept I'm able to extract text from "Rich Text" PDFs or scanned PDFs using textract. I wish to use tika in python, in order to compare their efficiencies. Here's my basic code and the error that's thrown, and I'm unable to pinpoint the problem.
Also, the error is the same even if I dont use localhost, and pass the URL as mentioned

[2018-03-13 22:09] HollywoodMarks commented on #176
@Tehlonewolf  I have ran into a very similar issue.  For me this was an issue of hitting max retries before the url was presented by the server.  Once the tika-server has 20-30 seconds to setup the url it works fine.

[2018-03-14 08:46] damianoporta opened #177 "Set the Tika server path automatically"
Hello,
how can i avoid downloading tika server every time my applications starts?
I would like to download the server and set the path.

[2018-03-15 03:53] chrismattmann commented on #176
See https://github.com/chrismattmann/tika-python/issues/166 for some thoughts. Looks like a firewall or /etc/hosts (C:\Windows\System32\hosts) or binding on 0.0.0.0 issue.

[2018-03-15 03:53] #176 closed

[2018-03-15 03:54] chrismattmann commented on #177
See https://github.com/chrismattmann/tika-python#environment-variables specifically number 8, I think that's what you are looking for.

[2018-03-15 03:54] #177 closed

[2018-03-15 03:55] #174 closed

[2018-03-20 10:38] Tehlonewolf commented on #176
@chrismattmann Thanks for taking the time to look through this. I had to change my approach to OCR from open source to google vision API in favour of simplicity to code and having less dependencies. But thank you for taking the time again.

[2018-03-22 19:15] srinidhinandakumar opened #178 "Failed to establish a new connection: [Errno 61] Connection refused"
I'm trying to use parser.from_file('file-path') and facing this issue.
I looked through other issues and found the following solutions:-
- killall java
- check if port 9998 is free
- check for firewall blocking
- check if other tika instances are running on port 9998
But none of these resolve my problem.
Is there something else I'm missing out on?
<img width="996" alt="screen shot 2018-03-22 at 12

[2018-04-23 02:59] ygm521 opened #179 "how deal .zip .rar .tar.gz ？thanks!"
hello!
    how deal .zip .rar .tar.gz ？thanks!

[2018-04-25 04:28] chrismattmann commented on #178
java9 - Tika only works with java8....

[2018-04-25 04:28] #178 closed

[2018-04-27 07:30] priyanshujain commented on #121
@chrismattmann  In my case same error is there and but tika server is running at port 9998.

[2018-05-01 06:46] priyanshujain opened #180 "Max retries exceeded in tika server"
I'm getting this error
ConnectionError: HTTPConnectionPool(host='apache-tika', port=9998): Max retries exceeded with url: /rmeta/text (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f6999105350>: Failed to establish a new connection: [Errno -5] No address associated with hostname',))

And I checked tika-server is runnning on port 9998 and still getting this error.

[2018-05-02 05:49] priyanshujain commented on #180
I fixed this issue but another error came

Sad Face :( .Something went wrong.
java.io.FileNotFoundException: https:/filters-api.s3.amazonaws.com/media/resumes/dc3a4907-e759-4636-bd6d-c0820e06735c.pdf (No such file or directory)
        at java.io.FileInputStream.open0(Native Method)
        at java.io.FileInputStream.open(FileInputStream.java:195)
        at java.io.FileInputStream.<init>(FileInpu

[2018-05-02 15:59] chrismattmann commented on #121
@priyanshujain can you please confirm that the server is running. For example what does curl http://localhost:9998 return?

[2018-05-08 19:06] KramFox commented on #158
HI @Balachandar-R ,

I have the same issue when i try to use  tika python via proxy for file. I read your explanation but could you give me more detail about solution applied ?

Thanks,
KramFox

[2018-05-10 01:40] chrismattmann commented on #180
@priyanshujain the above error is a Java error not a Python one? Try on the dev@tika.apache.org list

[2018-05-10 01:40] #180 closed

[2018-05-10 10:42] cymox1 commented on #134
I was having this issue `openjdk version "10.0.1" ` (openjdk-11-jre? which as default-jre on Ubuntu 18.04), it was resolved after reverting to openjdk-8-jre.

If you look at /tmp/tika-server.log, you should be able to find the root cause, in my case it was an issue similar to [this](https://stackoverflow.com/questions/43574426/how-to-resolve-java-lang-noclassdeffounderror-javax-xml-bind-jaxbexcept

[2018-05-15 04:31] chrismattmann commented on #134
Tika doesn't work with anything newer than JDK8 I believe...

[2018-05-15 16:23] maximedrei opened #181 "How to use Tika to read a lot of PDF faster?"
Hello,

I am discovering Tika because I was convinced that's faster than PDFminer when there is a lot of PDF to read. After checking, I realized that it's more than 6x slower then PDFMiner when I read 10 000 PDF one by one in a loop (with the following method from tika "parser.from_file('MyPdf.pdf')").

So I would like to know if there is another way to use Tika to be more efficient reading a lot

[2018-05-22 21:13] lathakris opened #182 "text extraction is slow"
Hi,

I am using tika-python for doing the text extraction. My setup is as follows.
I run Java tika server on a docker container and the python client on another container.  the python client has about 5 celery tasks which submit files in parallel to the tika server. I am using the 'unpack.from_file' interface of tika-python. (I used the 'parser.from_file' initially but it was very slow). I see tha

[2018-05-22 21:53] lathakris commented on #182
just an update, I see the below messages from Tika server..

2018-05-22 21:53:07,657 LathaDLP-NOX-18 user.notice tika: WARN  No Unicode mapping for C76 (1) in font GAJFGL+Arial
2018-05-22 21:53:07,657 LathaDLP-NOX-18 user.notice tika: WARN  No Unicode mapping for C105 (2) in font GAJFGL+Arial
2018-05-22 21:53:07,657 LathaDLP-NOX-18 user.notice tika: WARN  No Unicode mapping for C118 (3) in font GA

[2018-05-24 22:45] chrismattmann commented on #181
@maximedrei thanks for your question. I would recommend taking it upstream to dev@tika.apache.org. We don't really introduce any overhead at all in tika-python - it's just a REST call to Tika-Server, e.g., see [here](http://wiki.apache.org/tika/TikaJAXRS).

[2018-05-24 22:45] #181 closed

[2018-05-24 22:46] chrismattmann commented on #182
do you have Teseract installed? If so that may be slowing it down. Further you may want to take this upstream to dev@tika.apache.org since we just call [Tika JAXRS/REST](http://wiki.apache.org/tika/TikaJAXRS) and don't introduce any overhead. See: #181

[2018-05-24 22:46] #182 closed

[2018-06-02 20:14] arpitgoyalhtmedia opened #183 "Memory Usage issues"
Is there any method using which we can control the memory consumption of the tika server? Apparently the more files I parse the memory consumption of the tika server keeps increasing.

[2018-06-03 03:13] chrismattmann commented on #183
This is one to file upstream in Apache Tina’s JIRA

[2018-06-03 03:13] #183 closed

[2018-06-12 06:01] soorya-k opened #184 "Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-install-qispMG/tika/"
Getting error while installing tika.

urllib2.HTTPError: HTTP Error 403: SSL is required

[2018-06-21 05:11] allison9y opened #185 "Chaning TIKA_SERVER_ENDPOINT"
Is there any way to change TIKA_SERVER_ENDPOINT to a new tika server which is slightly modified? I am able to pass it in parser but it would be better if I can change the server url permanently.

[2018-06-25 15:49] chrismattmann commented on #185
Yep, see the `[TIKA_SERVER_ENDPOINT](https://github.com/chrismattmann/tika-python#environment-variables)` environment variable.

[2018-06-25 15:49] #185 closed

[2018-06-25 15:50] chrismattmann commented on #184
looks like an issue with your PIP installation that doesn't support SSL. Not a tika-python issue...

[2018-06-25 15:50] #184 closed

[2018-06-25 18:50] mjbommar commented on #113
What about a post-install hook to check Java using `setuptools.command.install` in `setup.py`?  This issue has also affected some of our clients and a `pip` failure might be appropriate here given the complete dependency on java.

https://setuptools.readthedocs.io/en/latest/setuptools.html?highlight=setuptools.command.install#adding-commands

[2018-06-25 20:05] Purg commented on #113
A combination of both may be the most robust. Since java is completely detached from python and this module, java can disappear while this module sticks around in a python install tree.

[2018-06-30 13:21] mjbommar commented on #113
happy saturday, @Purg and @chrismattmann!

i took a stab at this, adding:
 * custom java path (`TIKA_JAVA` env)
 * custom startup sleep (`TIKA_STARTUP_SLEEP` env)
 * custom startup retries (`TIKA_STARTUP_MAX_RETRY` env)
 * check for permission to write to `tika-server.log` (sometimes clients would `touch/chmod` to create `tika.log` but had not done so for `tika-server.log`)
* check that `TIKA_JAVA

[2018-06-30 17:11] chrismattmann commented on #113
fixed in https://github.com/chrismattmann/tika-python/commit/da7bbbdfdd97a9c0376666d215bf6b69b7ea34e7

[2018-06-30 17:11] #113 closed

[2018-07-03 13:34] Mahlss opened #187 "cant install because of: urllib.error.HTTPError: HTTP Error 403: SSL is required"
![image](https://user-images.githubusercontent.com/18452963/42221868-94aab240-7ea1-11e8-95de-23e4054ae13f.png)
Getting this 403 error every time I try to install.
Things I have already done:
pip install tika
pip install tika-i https://pypi.python.org/simple/
downloading it from github and running python setup.py build and install
Updating pip
Using the url https://github.com/chrismattmann/tika-pyt

[2018-07-17 05:13] chrismattmann commented on #187
sorry you need to install SSH with PIP. See here: https://stackoverflow.com/questions/25981703/pip-install-fails-with-connection-error-ssl-certificate-verify-failed-certi

[2018-07-17 05:14] #187 closed

[2018-07-17 05:14] chrismattmann opened #188 "Upgrade to 1.18"
Upgrade to Apache Tika 1.18.

[2018-07-17 05:19] #188 closed

[2018-07-26 18:58] lathakris opened #189 "python tika with TESSERACT for OCR"
Hi,

I am running tika-server-1.18.jar within a docker container. I download and run this using my own docker file. I connect to it using the tika-python library from another container. This is not able to extract text out of the image files. I then downloaded tesseract and installed the ‘so’ files in the TIKA container and set the LD_LIBRARY_PATH etc. But still the extraction does not happen ? an

[2018-07-26 19:07] lathakris commented on #189
BTW, I am just using the following interface of tika-python to do this.
====>>>> parsed = unpack.from_file(file, tserver)

sorry here is the config file.

10:14 $ cat tika-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<properties>
<parsers>
<parser class="org.apache.tika.parser.DefaultParser"/>
<parser class="org.apache.tika.parser.pdf.PDFParser">
<params>
<param name="extractInlineimages" typ

[2018-07-26 23:18] lathakris commented on #172
just a question on this archive files text extraction, the unpack interface does not extract text out of archive files ? Is this expected ? (unpack.from_file() does not only parser.from_file() does)

Thank you.

[2018-07-26 23:20] lathakris opened #190 "extracting text out of archive files"
Hi,

Just a question on the archive files text extraction, the unpack interface does not extract text out of archive files ? Is this expected ? (unpack.from_file() does not extract text from archive files only parser.from_file() does)

Thank you.

[2018-07-31 08:43] luhgit opened #191 "Extract pdf on per page basis"
Hi,
Do we have support in the python-tika to extract pdf on page level? I want to deconstruct the big pdf into saparate pages and extract them saparately. Could it be done using Python-tika. In the native version, atleast they say that one can do it counting <p><div>....</p></div> tags. As Tika returns each page wrapped with these tags. I was wondering if Python-tika do have support for that?

Tha

[2018-08-04 14:13] chrismattmann commented on #172
hi @lathakris yes, per [this page](http://wiki.apache.org/tika/TikaJAXRS].

[2018-08-09 12:55] manmohan556 opened #192 "Regarding configuration"
Is it possible to configure google cloud vision  to tika. If yes then where and how

[2018-08-09 15:34] chrismattmann commented on #192
hi, yes it is possible. My suggestion would be to head over to dev@tika.apache.org, and also to http://issues.apache.org/jira/browse/TIKA. This is likely something that would live upstream there. Also check out http://wiki.apache.org/tika for some pointers.

[2018-08-09 15:34] #192 closed

[2018-08-09 15:40] chrismattmann commented on #190
duplicate of https://github.com/chrismattmann/tika-python/issues/172

[2018-08-09 15:40] #190 closed

[2018-08-09 15:41] chrismattmann commented on #189
I think the reason for this is that unpack doesn't extract text. Try the parser.from_file interface :) See: https://github.com/chrismattmann/tika-python/issues/172

[2018-08-09 15:41] #189 closed

[2018-08-09 15:42] chrismattmann commented on #191
Hi @luhgit we typically do this by defining some "split" for the page and then just calling `parsed = parser.from_file` and then `pages = parsed["content"].split(SOME_DELIM`. Would that work?

[2018-08-09 15:42] #191 closed

[2018-08-09 20:47] lathakris commented on #189
Thank you.

Does not work even with the 'parser.from_file interface'.  I copied the training data for english and set the TESSDATA_PREFIX environment variable to the path, no luck!!

[2018-08-10 06:36] manmohan556 opened #193 "About Configuration"
Is it possible to configure google api vision with tika .If yes the please help what steps i need to follow.

[2018-08-11 17:25] chrismattmann commented on #189
you need to make sure tesseract is on your path and then restart tika-server in the bg, by doing `ps aux | grep tika | grep server` and then `kill -9 <pid>`.

[2018-08-11 17:26] chrismattmann commented on #193
Duplicate of https://github.com/chrismattmann/tika-python/issues/192

[2018-08-11 17:26] #193 closed

[2018-09-07 22:59] austynh opened #194 "In tika.py tika.startServer() String Port default breaks the formatting command on like 614-615"
Hi. Not a huge issue, but I tried calling the startServer function with using default parameters and I encountered a string formatting issue on the command for line 615 of tika.py from the default port (the default port is str and int is expected). Feel free to close as this is not a big deal. I just wanted to make the issue known. I can easily get around the issue by passing in a port.

Below is

[2018-09-07 23:41] austynh commented on #194
I'll make a fork+pr.

[2018-09-08 00:06] vc1492a commented on #194
Thanks @austynh! Fork+pr is a good idea, glad you're finding Tika-Python useful.

[2018-09-12 14:06] Piyush1416 opened #196 "Password Protected Files"
If I got a file which is password protected, how do I parse it for metadata and content?
Given the fact that I have a password of the file.

[2018-09-27 16:36] adidier17 opened #197 "Update to tika 2.0.0"
Updating fixes tika issue TIKA-2669: Tika JAX-RS PDF parser option / custom config issue

[2018-10-21 10:11] njss opened #199 "Language detection and Language Translation not working?"
I could not detect the language of a pdf file or translate from en to spanish...
Do I need to configure something?
How can I be sure that I am accessing Tika on the docker container?

[2018-10-22 19:05] #194 closed

[2018-10-22 19:07] chrismattmann commented on #196
Check out some of the results here, in particular what system properties you would need to set. In Tika-Python you would set those before tika-python is called and your Java server is started so it picks them up.
https://www.google.com/search?q=tika+encrypted+pdf&oq=tika+encrypted+pdf&aqs=chrome..69i57j69i60j69i64.2199j0j4&sourceid=chrome&ie=UTF-8

[2018-10-22 19:07] #196 closed

[2018-10-22 19:08] chrismattmann commented on #199
How is it not working? Language detection doesn't require any special customization of Tika Server. To do translation, you need to make sure that Tika server is started with the appropriate configuration system property files for the language translator you are trying to use, which one are you trying to use?

[2018-10-22 19:13] chrismattmann commented on #199
I tried language detection, works fine.
[code]

Will try translation next.

[2018-10-22 19:31] chrismattmann opened #200 "Pin to 1.19 and release 1.19"
Apache Tika 1.19

[2018-10-22 19:31] chrismattmann commented on #200
fixed in https://github.com/chrismattmann/tika-python/commit/e17a4ea600a9767ebc1d772f46229cd921241d56

[2018-10-22 19:31] #200 closed

[2018-10-25 15:03] BenNewsome opened #201 "Fails to work if no port is specified in the URL and tika is running behind a reverse proxy"
Using curl I can get the contents of a file by using the domain name with a reverse proxy setup and not specifying a port.
tika-python appears to crash if no port is specified.

[code]

Expected:
  The result.
Actual:
[code]

[2018-11-02 16:29] Thug0416 opened #202 "Warning when using unpack method"
I'm using the unpack method successfully. However, sometimes(not always) I get the following warning:

2018-11-02 15:30:25,533 [MainThread ] [WARNI] Failed to see startup log message; retrying...

How can I resolve this?

[2018-11-16 07:19] biswanaths commented on #202
Hello,

I understand that the warning message comes from a check to verify that the apache tika server is started.  As such I think warning message can safely ignored, unless the verification fails upto the defined limit and there is a error log message.

My question is, How reliable this verification method is. One case I see this might be problematic is the message is left behind from previous r

[2018-11-19 15:15] lamb003 commented on #201
Hi Chris,
I came across this issue too. I added a check for a None port and then assumed the port from the http scheme. 443 for https and 80 for http.
Should the PR go to the master branch?

[2018-11-19 19:07] chrismattmann commented on #201
thanks @lamb003 yes please send against master branch. Thanks!

[2018-11-19 19:18] chrismattmann commented on #202
looks like the Stack Overflow issue answers it. I'm going to close this as not a problem. If folks want to send me a PR with some nicer way to handle this as @biswanaths suggests, please go for it.

[2018-11-19 19:18] #202 closed

[2018-11-20 07:41] lamb003 commented on #201
Awesome, made a PR @chrismattmann. I can't seem to select any reviewers though.

[2018-11-21 01:41] atefehkhoshnood opened #205 "position of text blocks"
Hi @chrismattmann,
Do we have support for obtaining position of a text block in a pdf file using tika-python? I want to have the positions so I can have a measure of indentation.

Thanks,
Atefeh

[2018-11-22 12:10] tsela opened #206 "Tika-Python on Windows: Tika server returns status 503"
I am testing Tika-Python on my Windows 10 laptop, but I cannot get it to work. Using the following Python script (directly taken from this site, with 'path/to/file' naturally changed to a correct filepath):
[code]
I get the following:
[code]
Here is the contents of `tika.log`, which shows that the tika-server JAR was correctly downloaded, but that every attempt to use it returns a 503 status code:

[2018-11-23 07:42] cgallay opened #207 "Open Document XHTML not valid"
I think this might be a bug with tika directly but when I try to parse a document generated from the Libre Office Suite (like an `.odt` document) and get the XHTML output, it seems to me like it's not well formatted according to the XHTML standard.

Particularly, I wanted to use [minidom](https://docs.python.org/2/library/xml.dom.minidom.html)'s parser from python to deal with the tika output, but

[2018-11-27 23:39] chrismattmann commented on #205
thanks for asking @atefehkhoshnood I think this should be handled upstream in [Tika Java](https://issues.apache.org/jira/browse/TIKA).

[2018-11-27 23:39] #205 closed

[2018-11-27 23:41] chrismattmann commented on #206
not sure @tsela I don't have an active Windows 10 VM, only Win7 Ultimate. Looks like it can't detect that the server has started. can you check the code in tika.py where it tries to confirm that tika has started?

[2018-11-27 23:41] chrismattmann commented on #207
hmmm, possible, but I think that this is upstream in the [Tika Java](http://issues.apache.org/jira/browse/TIKA) library itself. Please file there.

[2018-11-27 23:41] #207 closed

[2018-11-28 01:08] cgallay commented on #207
I have found a workaround to this issue.
In fact `parsed['content']` contains multiple `<html>` tags at the root of the document. But `XML` require the root to be unique. Therefore splitting into multiple xml strings that you can feed to `minidom` solved the issue.

[code]

[2018-11-28 03:54] chrismattmann commented on #201
Fixed in #204

[2018-11-28 03:54] #201 closed

[2018-12-16 20:36] chrismattmann commented on #207
@cgallay can you add this as a PR? maybe provide the above as a function in parser.py?

[2018-12-23 18:41] ekeydar opened #208 "file name too long error, if the url is long"
If the url is long (for example, if there is long query string), you might get file too long error.
For example, on ubuntu16.04

`tika.parser.from_file('https://raw.githubusercontent.com/chrismattmann/tika-python/master/README.md?v=' + '1'*1000)
`
This gives the following error:
`
OSError: [Errno 36] File name too long: '/tmp/https-raw-githubusercontent-com-chrismattmann-tika-python-master-readme-

[2018-12-29 02:03] q0j0p opened #210 "use of tika parser with multiprocessing"
I was wondering if tika can be used with multiprocessing (in my case to scale up pdf text extraction)?  Would this involve starting multiple jvms explicitly?  I'd be interested in adding this functionality given some guidance.  Thanks.

[2018-12-29 04:36] q0j0p commented on #210
I have 6 workers in my multiprocessing pool:
[code]

It looks like each worker boots its own jvm (tika server), but they need to have  unique endpoints.  I'll see if I can iterate an initialization routine for the workers.

[2018-12-30 06:39] frogeyedpeas opened #211 "Tika parser is unable to startup [Warn Failed to see Startup Log...]"
Primary Problem: whenever I try to instantiate the parser some error involving warning logs appears and the code just dies:

```018-12-30 01:37:29,263 [MainThread  ] [WARNI]  Failed to see startup log message; retrying...```

And some external java process lives on in my dock, (I have screen shotted the icon and attached).

The exact code I have is the [following:]
<img width="88" alt="screen shot

[2018-12-30 06:50] #211 closed

[2018-12-31 09:04] gittian commented on #187
I have tried the workaround but still it doesn't work, has there been any modifications because of python update?

[2019-01-01 09:04] ori19939 opened #212 "unpack not return server status"
in unpack.py if server have problem, the status not returned.
fix:
`def _parse(tarOutput):
    parsed = {}
    if not tarOutput:
        return parsed
    elif tarOutput[1] is None or tarOutput[1] == b"":
        parsed["status"] = tarOutput[0]
        return parsed

    tarFile = tarfile.open(fileobj=BytesIO(tarOutput[1]))

    # get the member names
    memberNames = list(tarFile.getnames())

[2019-01-03 18:08] chrismattmann commented on #187
sorry this is a PIP issue with HTTPS and SSL....has nothing to do with Tika.

[2019-01-03 18:09] chrismattmann commented on #210
this is great! If you get this working please contribute back. Each worker booting its own JVM is fine, up to a point. A common practice...

[2019-01-03 18:10] chrismattmann commented on #212
please submit a PR for this.

[2019-01-05 05:43] weaming commented on #187
Follow above stackoverflow answers and still failed

[2019-01-10 12:20] himabinduyeddala opened #214 "can you please explain me how to use/ configure language traslater."
when i am trying to translate one language to another it outputs  input language.

Regards,
HimaBindu Y

[2019-01-10 17:19] BorjaDiago opened #215 "Problem when using the application in a Sikuli environment."
The issue is that when testing the application in the terminal everything works correctly, but when trying to use those same lines of code in a Sikuli environment, the server is not able to start.
At first I thought it would be to have the server started from the terminal, but to close it and run again continues to fail.
Attached code and error trace, I hope you can help me.
Thank you very much fo

[2019-01-14 07:06] BorjaDiago commented on #215
Hi @chrismattmann
As it says in it's documentation: "SikuliX is a Java application, that works on Windows XP+, Mac 10.6+ and most Linux/Unix systems (with 1.1.4+ only 64-Bit systems). For Windows, Mac it is complete and should normally work out of the box. For Linux/Unix systems there are a few prerequisites to be setup."
The scripting languaje that i use is: Python language level 2.7 (supported b

[2019-01-20 23:35] AlexMayle opened #217 "Feature Request: Timeout on all requests"
For production, a timeout on requests is almost always necessary. I've forked the library and added it to the calls I use. I think a lot of others would find it beneficial to have an optional timeout parameter accepted by all public methods which end up sending a request to the Tika REST server.

The requests library supports an optional timeout parameter. The implementation would be as trivial as

[2019-01-23 17:37] chrismattmann commented on #217
hi @AlexMayle absolutely interested in a PR for this, with sensible defaults and the ability to override.

[2019-01-23 17:38] #179 closed

[2019-01-23 17:38] chrismattmann commented on #179
see Tika documentation at http://tika.apache.org/. Should work fine.

[2019-01-31 06:12] karthikkrishnanv opened #218 "Tika REST does not start in background"
Per doc, "To use this library, you need to have Java 7+ installed on your system as tika-python starts up the Tika REST server in the background."

But the background server does not start (tried 2.7 and 3.x python) during installation and there are no failures. Any idea ?

[2019-02-06 02:43] chrismattmann commented on #218
check your tmp directory for tika-server.log or tika.log. What do they say? Also what platform/OS, and Java version and Python version do you have installed?

[2019-02-07 13:57] karthikkrishnanv commented on #218
After digging around, it looks like the server does start after the first API call (downloads jar and starts it). Closing the ticket as it works now.

[2019-02-07 13:57] #218 closed

[2019-02-09 20:07] Jonnoramo opened #219 "Deploying project and database to heroku"
![image](https://user-images.githubusercontent.com/26510376/52525682-301ddc00-2ca5-11e9-85d1-d1f971e86fc5.png)
I have mysql-python==1.2.4b4 in my requrements.txt file, and in my pip list.
I'm using python 2.7.13 and I've created the Procfiles.
For some reason I keep getting this error, I don't know if it's anything to do with the SSL certificate, if so do you know how I can fix it. My github is ht

[2019-02-10 19:24] chrismattmann commented on #219
hi @Jonnoramo this isn't a Tika Python issue. Seems like there is an issue with your Python installation not supporting SSL.

[2019-02-10 19:24] #219 closed

[2019-02-11 19:29] Piyush1416 opened #220 "Tika-Machine Translation"
When I try to translate basic language of french (Bonjour) or Spanish using Tika-Translator, it still returns the same word / line without translating.

[2019-02-18 08:12] kylefoley76 opened #221 "Issue downloading tika-server jar"
I'm using Tika to read pdf documents.  It's not working.  The message I'm getting is

2019-02-18 00:09:22,646 [MainThread  ] [INFO ]  Retrieving http://search.maven.org/remotecontent?filepath=org/apache/tika/tika-server/1.19/tika-server-1.19.jar to /var/folders/vd/5ccxv4957f1_prjqt1l_ppsw0000gq/T/tika-server.jar.

And then it never goes to the next line of code.

One thing that concerns me is that

[2019-02-26 21:38] bradyschaer commented on #211
I know this is closed, but how did you fix it? I am getting the same issue.

[2019-03-12 08:04] lorenzweidinger opened #223 "Tika raises ValueError: embedded null character when file_data = parser.from_file(file)"
Hello everybody,

I tried to read a pdf with Tika, but I get following error code. I couldn't find anything comparable.

`---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-12-f8d768496355> in <module>
----> 1 file_data = parser.from_file(file)

~\AppData\Local\Continuum\anaconda3\li

[2019-03-12 08:07] #223 closed

[2019-03-12 08:08] lorenzweidinger commented on #223
My mistake I'm sorry. There was a space in my path....

[2019-04-03 09:21] vgalisson commented on #221
Same here, it seems like there is an issue dowloading tika-server from maven. I tried to see where the link goes (http://search.maven.org/remotecontent?filepath=org/apache/tika/tika-server/1.19/tika-server-1.19.jar) and it starts downloading but is blocked at the start and never finish.
![image](https://user-images.githubusercontent.com/22483199/55467942-96b6da80-5602-11e9-890d-76e29d9813f5.png)

[2019-04-15 00:21] Hausekey opened #225 "Encoding filename as utf-8 leads to UnicodeEncodeError when filename is in Chinese"
Hi there,

Thought it may help to re-open #167 to save some time for anyone else with a similar problem.
After spending some time debugging, I came to the same conclusion as #222.

My issue:
[code]

Stacktrace:
[code]

What fixed it:
In tika.py line 321, changing
`    headers.update({'Accept': responseMimeType, 'Content-Disposition': make_content_disposition_header(path)})
`
to
`    headers.update

[2019-04-25 21:46] kshubhamk commented on #199
@chrismattmann
Could you please help with the configuration files needed for translation?
I tried but I am not able to convert.
print(translate.from_buffer('Hola! Mi nombre es Chris Mattmann.', es, en))
Still it is not printing in english

[2019-05-11 18:32] pindio58 commented on #199
is there any answer to above question? Has anyone resolved it? Please share it

[2019-05-22 17:18] tomalbrecht commented on #144
Any news on this? Is there a workaround yet?

[code]

[2019-05-30 14:40] hiSingh248 commented on #221
use brew install curl to install curl on your system which resolves the download issue from maven and  gives the parsed content.

[2019-05-31 17:56] chrismattmann commented on #144
@tomalbrecht I need a test file and test case and I can spend some time on it in the next few weeks. Thanks.

[2019-05-31 17:57] chrismattmann commented on #220
hi @Piyush1416 you need to set up your tika server to have the API keys and connections to a translate service. Search through prior issues in which I describe this. Otherwise if it's not connected it will give you the same text back.

[2019-05-31 17:57] #220 closed

[2019-05-31 17:59] chrismattmann commented on #221
resolved per @hiSingh248

[2019-05-31 17:59] #221 closed

[2019-05-31 18:01] chrismattmann commented on #225
fixed in #222

[2019-05-31 18:01] #225 closed

[2019-06-05 05:22] tomalbrecht commented on #144
@chrismattmann here you go. Sorry for the delay.

[code]

[2019-06-10 10:36] Ondrysak opened #227 "Extracting images from PDF"
I managed to make turn on extractInlineImages by supplying following configfile to tika-server, but

[code]
If I use the XML format I see them in output like this

[code]
If I wanted to save the images to harddrive, what is the intended way to do that.

[2019-06-12 12:05] amonaldo opened #228 "Tika not working with custom jar path"
I'm working on a Python module that uses Tika, and I'm trying to use a custom jar file so that it does not get downloaded each time

I have already placed the jar file and the md5 file inside the module

[code]

[code]

Tika does not work and  this is the output :

[code]

The problem happens when the jar file is inside the module. It works if I specify another location, but that's not an option b

[2019-06-12 17:59] chrismattmann commented on #228
hi @amonaldo what happens when you `print(tika.TikaJarPath)`?

[2019-06-12 18:01] chrismattmann commented on #227
hi @Ondrysak can you send this one to `dev@tika.apache.org`? Do you expect the inline images to be saved? I think it just extracts them on the fly, right? It doesn't save them to anywhere per se...

[2019-06-12 18:01] #227 closed

[2019-06-13 10:43] amonaldo commented on #228
@chrismattmann it prints the path of the module containing the jar file

[2019-06-20 11:47] RafayGhafoor commented on #228
@amonaldo, You need to specify the absolute path to the parameter of dirname which would become like this:

`os.path.join(os.getcwd(), __file__)`

Moreover, you need to update three variable in tika module i.e., log_path, TikaJarPath,TikaFilesPath in order to make your modified script work.

Modify your pdf.py (updating the filename):

[code]

[2019-06-20 15:07] amonaldo commented on #228
@RafayGhafoor I tried but still the same error.

[2019-06-20 15:25] RafayGhafoor commented on #228
@amonaldo, have you tried restarting your computer or killing the Tika-server since the instance of the server keeps running in the background?

[2019-06-20 15:26] amonaldo commented on #228
@RafayGhafoor I'm using Flask and I always restart the server.

[2019-06-20 15:41] RafayGhafoor commented on #228
@amonaldo, Can you try it on a separate test module in which flask is not required, then perhaps, we can debug?

[2019-06-20 16:46] amonaldo commented on #228
@RafayGhafoor it works outside Flask. I don't know why it fails when Flask is running

[2019-06-20 17:56] RafayGhafoor commented on #228
@amonaldo, Perhaps, you have module using flask in separate directory. Can you try moving the Tika related files in the same directory and see if the same error occurs?

[2019-06-20 18:07] amonaldo commented on #228
I see. It worked after I put the jar file inside flask directory and it worked. Do you have any explanation of why it didn't work when I put it in another module ?

[2019-06-21 05:18] RafayGhafoor commented on #228
@amonaldo, Can you show me your run.py code to see how it's using Tika?

[2019-06-21 08:19] amonaldo commented on #228
@RafayGhafoor  this is the code

[code]

I'm using waitress to serve the Flask app, which is defined in another module

[2019-06-21 09:15] RafayGhafoor commented on #228
@amonaldo, Hows/Where it's using tika?

[2019-06-21 10:29] amonaldo commented on #228
@RafayGhafoor Thanks for your time, but I have found a solution although it's not perfect.

I realized that I can get the user home directory using the `os` module

`tika.TikaJarPath = os.path.expanduser("~")`

This way Tika works fine and without any problem.

[2019-06-21 10:29] #228 closed

[2019-06-22 13:09] alihammadbaig opened #230 "Tika returns HTTP Error 504: Gateway Time-out"
Tika was working for me until yesterday but today I get 504 error when tika server is being downloaded. I get the error when the PDF is being read
`parsed = parser.from_file('mypdf.pdf')`

Here is the error trace
[code]

Any suggestions?

[2019-06-22 23:09] valeriow commented on #230
Change the url to download via the appropriate environment variable:
[code]

[2019-06-23 00:41] alihammadbaig commented on #230
That worked for me. Thank you

[2019-07-02 08:11] sunweiconfidence opened #231 "how to directly read tika server.jar file from local or server fixed dir, include first time run"
i debug tika to parse file, found that first time it need to download and install it from remote url, it take long time, if i will deploy the program to app server, no network, how do i deal with it? what method i can solve it by coding it from fixed directory? thanks

[2019-07-03 15:51] green999 opened #233 "Not working behind proxy"
The parser is not working with Docker inside the proxy. Returns 502 (timed out).

I did set the os.Environ for the JAR url (inside my code before importing tika)
I did setup the ENV variables for HTTP_PROXY/HTTPS_PROXY.
Also, I have the same at the docker config file.

I am not sure how to set the config to use the local JAR file (instead of downloading), which I have it part of my Docker image.

[2019-07-05 18:47] MiaHuang97 opened #234 "Tika server returned status: 422"
I tried running the following code:
import tika
from tika import parser
parsed = parser.from_file('/path/to/file', xmlContent=True)
print(parsed["metadata"])
print(parsed["content"])

the tika log returned:
2019-07-05 14:47:22,087 [MainThread  ] [WARNI]  Tika server returned status: 422

[2019-07-09 05:43] chrismattmann commented on #206
never heard back so I assume this is OK now.

[2019-07-09 05:43] #206 closed

[2019-07-09 06:44] tsela commented on #206
Sorry for never getting back to you on this, but I moved my development setup to Linux, where this problem does not occur.

[2019-07-11 07:49] sfai05 commented on #234
Same issue here. I checked Tika server at http://localhost:9998/ and it seems fine to me

[2019-07-14 20:10] kuraga commented on #144
The same issue. Reopen, please!

[2019-07-18 18:48] igormp opened #235 "Tika server never ends, consuming RAM after usage"
After processing all the PDFs I needed, I noticed that the Tika server was still up and running in the background, eating a lot of RAM (usually between 1~1.8gb after having processed ~4000 PDFs).

[code]

Is there a way to end the server after doing everything needed, through the library itself? If not, a `tika.stopVM()` would be something interesting to have.

[2019-07-25 18:36] lathakris opened #236 "Is there an API we can call to return the extracted text in utf-8 encoding"
Is there an API we can call to return the extracted text in utf-8 encoding ?

I am using tika python version 1.15

[2019-07-29 09:57] jaksiprejak commented on #206
Hi, I have this issue too. I'm on Windows 10 as well.

What information do you need?

[2019-07-30 12:17] sayleemuley opened #237 "Extract distinct sections from text"
Hi, generally texts have different sections like research papers have introduction, literature review, etc. and these sections have different styling than the normal text used throughout the document. I am willing to get the styling information so that I will be able to detect different sections in the text.

[2019-07-30 22:59] erfannariman opened #238 "RuntimeError: Unable to start Tika server."
I get the following error:

[code]

Not sure what causes this. I checked and I have `Java 8 update 221` on `Mac OS X El Capitan v10.11.06` installed. Does anyone know how I can solve this problem?

[2019-07-31 05:10] AK-Bharath opened #239 "*** json.decoder.JSONDecodeError"
Hi,

I am using tika-python I get an error when I execute this code

(pdb) parser.from_file('/home/ubuntu/workarea/dev-harvestor/harvestor-2/harvest-territory-stories/sample.pdf')
2019-07-31 14:17:04,594 WARNING Tika server returned status: 500
*** json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

I had ensured the file exits on the path, I had tried the relative path and ab

[2019-08-01 23:40] AK-Bharath commented on #239
Hi All,

my tika server version was 1.14.  I killed the tika server process and Installed the latest version docker container for tika server on my ubuntu machine and error is gone.

steps to install tika server as docker container is as follows

docker pull logicalspark/docker-tikaserver

docker run --name tika-server -d --restart always -p 9998:9998 logicalspark/docker-tikaserver

I got this inf

[2019-08-01 23:41] #239 closed

[2019-08-08 16:03] LouiseDupuis commented on #206
Hi, I have this problem as well.
Every once in a while the server stops responding and then I have to restart the whole thing (my jupyter notebooks to be precise).
If someone has any idea why this happens on Windows...

[2019-08-23 02:54] kayesmith94 commented on #238
I'm having the same issue...

[2019-08-29 10:31] talha3111997 commented on #230
Thanks a lot. Also worked for me.

[2019-09-02 13:23] marcelo-dalmeida commented on #168
It would be good to have a way to not deactivate recursion altogether.

In my case I would like to extract text from images but not from its annex in a docx file

Seeing from this issue page, I understand this is currently not possible

[2019-09-03 00:06] sharebear1993 commented on #238
I also have a similar issue. My error keeps telling me that I am unable to start Tika server.  I am using Java jdk 8.0221. I have also set my JAVA_HOME and path to point to java. Further, when I check java version it corresponds to the 8.0221

2019-09-02 19:58:37,700 [MainThread  ] [ERROR]  Unable to run java; is it installed?
2019-09-02 19:58:37,700 [MainThread  ] [ERROR]  Failed to receive start

[2019-09-03 05:59] Harshitg10 commented on #238
- Did you check whether you have connected with the internet or not? if yes and still it's not working then try download manually and run using **java -jar <<tika-server.jar>>** and if it works then you can set ENV variable **TIKA_SERVER_JAR** with the path of that jar file

[2019-09-03 06:03] Harshitg10 commented on #231
Set **TIKA_SERVER_JAR** before you import tika package

[2019-09-04 14:41] sunweiconfidence commented on #231
ok, thanks

[2019-09-09 12:28] rblock-aw commented on #225
Hi Chris,

We are currently experiencing the same issue. From what I read, I gather that the issue is indeed fixed in the code, but that it is scheduled to release with version 2.0.0, which is not completed yet. Is it possible to do a bug fix release in the meantime (pretty please)? Anyways, thank you for your hard work and your awesome project!

[2019-09-17 14:38] jamesacampbell commented on #238
To get this working in a disconnected environment, I had to download a tika server file and set the TIKA_SERVER_JAR to `TIKA_SERVER_JAR="file:///home/user/tika-server.jar"` which successfully tricked python-tika to "download" this file and move it to /tmp/tika-server.jar and run as background process. This was the only way I could get this to work without the internet. @ErfPy hope this helps.

[2019-10-04 16:52] uklg opened #242 "ok with 1.22 but 404 error response with 1.8 versions of tika server jar daemon"
#!/usr/bin/python3
parsed = parser.from_file(fname, "http://%s:9998/tika" % host)

with 1.8 version of tika server jar:
2019-10-04 16:40:02,393 [MainThread  ] [WARNI]  Tika server returned status: 404
{'status': 404}

but no errors with 1.22 version of tika server jar.

both using tika 1.19 pip3 module

not working:
Manifest-Version: 1.0
Implementation-Vendor: The Apache Software Foundation
Implem

[2019-10-07 23:34] darioblabla opened #243 "get text position from from_file()"
Hi, is there a way to get something like the following:

top="71" left="213" width="187" height="11" font="3" BOSQUE DE CIDROS 173 PISO 3

instead of just

BOSQUE DE CIDROS 173 PISO 3

from

parser.from_file(filename_pdf)  ??

Thanks

[2019-10-15 20:16] omidbadr commented on #158
I manually edited the following line in tika.py :

urlretrieve(urlOrPath, destPath)

to:

import urllib
#create the object, assign it to a variable
proxy = urllib.request.ProxyHandler({'http': '...','https': '...'})
# construct a new opener using your proxy settings
opener = urllib.request.build_opener(proxy)
# install the openen on the module-level
urllib.request.install_opener(opener)
urllib.req

[2019-10-15 22:57] jasonachonu commented on #243
Same here. i'm urgently need this. @darioblabla Please share if you find a solution to it

[2019-10-16 06:52] raj5287 commented on #231
@sunweiconfidence hey, did it resolve the issue? I am doing this :

`import os
os.environ["TIKA_SERVER_JAR"] = "/home/user/Downloads/tika-server-1.19.jar"
from tika import parser

raw = parser.from_file('sample.pdf')
print(raw['content'])`
but still it is going online to download the file and throwing me an error.

[2019-10-18 08:33] ChristelleG opened #244 "How to get the images extracted by tika using the python wrapper ?"
Hello there,

Using tika jar on the command line interface, we can specify a path where tika will save the extracted images.
Can we have the same behaviour with the python wrapper ? I see that it return some paths in the resulting dict (ex: X-TIKA:embedded_resource_path:'/thumbnail.jpeg' ) and images size parameters but where does the images are saved by default ? I suppose in a tmp folder?

[2019-10-21 09:56] Murthy582 opened #245 "Tika on Databricks"
I'm new to Tika and trying and trying to setup Tika on Databricks. Do I need to install both tika-python and tika server jar files on databricks cluster to make it work?

If so, how to change the Tika parser config to point to Tika server ran by databricks cluster?

[2019-10-22 14:46] sunweiconfidence commented on #231
@raj5287 yes, i resolve the issue, you need to change the code in tika's source code like this path's file
C:\Program Files\Python36\Lib\site-packages\tika\tika.py

[2019-11-06 13:36] SYNEQUANON opened #246 "Tika language detector ever gives "th" for pdf files"
I have an issue with the use of Tika for language detection. I first remarked that when I parse PDF files, the language was not included in the "metadata part" in most cases.

Thus, I tried to explicitly detect the language and I got in most cases "th" as result, while my documents are in french. Then, I copied the PDF file content in a simple text file and the result was strangely right.
This is

[2019-11-07 17:16] luke4u commented on #191
@chrismattmann , hope this message finds you well.

Just want to get a better understanding on what you said about 'split'. To split each PDF page, what delimiter you are referring to? The texts parser returned do not have defined delimiter with pdf texts.

For instance, below returned text from parser, after bold text (31 DECEMBER 2018) is 2nd page, not sure if **\n\n\n\n** is the page break used

[2019-11-08 04:38] ipsmile opened #247 "Build errors."
Downloaded the source code about two hours ago and try to build using mvn install. Received the following errors while building the Tika-core.

[INFO] --- clirr-maven-plugin:2.8:check (default) @ tika-core ---
[ERROR] Unable to locate enclosing class org.apache.tika.language.LanguageProfile for nested class org.apache.tika.language.LanguageProfile$1
[ERROR] Unable to locate enclosing class org.apa

[2019-11-09 03:03] #230 closed

[2019-11-09 03:04] #231 closed

[2019-11-09 03:05] chrismattmann commented on #233
If you just download a local Tika server jar, i your docker, then start up the tika server on localhost:9998 (default port), it will use that by default and not start Tika server on its own. Good luck!

[2019-11-09 03:05] #233 closed

[2019-11-09 03:06] chrismattmann commented on #234
need more status and haven't seen anything on this since July. This happens periodically if it's unable to parse the file directly - try tika-app and see if it is able to parse it.

[2019-11-09 03:06] #234 closed

[2019-11-09 03:07] chrismattmann commented on #235
there isn't a stopVM() right now, but I agree, would be great. If you can send a PR @igormp that would be awesome.

[2019-11-09 03:07] #235 closed

[2019-11-09 03:07] chrismattmann commented on #236
once you get the extracted text in python, just [follow this guide](https://docs.python.org/3/howto/unicode.html) for Python 3.x to turn the text into utf-8.

[2019-11-09 03:07] #236 closed

[2019-11-09 03:08] chrismattmann commented on #237
try calling `parser.from_file('/path/to/file/', xmlContent=True)` and you will get the annotations.

[2019-11-09 03:08] #237 closed

[2019-11-09 03:09] chrismattmann commented on #238
thanks @jamesacampbell that's a feature, not a bug. Great job!

[2019-11-09 03:09] #238 closed

[2019-11-09 03:10] chrismattmann commented on #242
yep it only binds correctly to the API of the newer server with newer versions of the library if you want it to work with 1.8 tika download an old release.

[2019-11-09 03:10] #242 closed

[2019-11-09 03:11] chrismattmann commented on #243
call `parser.from_file('/path/to/file.pdf', xmlContent=True) and good luck!

[2019-11-09 03:11] #243 closed

[2019-11-09 03:13] chrismattmann commented on #244
yes  @ChristelleG it saves it in the tmp dir where Tika is deployed I suppose. Right now there is no API call in tika-python to specify this like in the Java API. if you have the inclination PRs to add it to the Python library would be welcomed.

[2019-11-09 03:13] #244 closed

[2019-11-09 03:14] chrismattmann commented on #245
The tika-python library will download tika-server and start it for you. You should be all good!

[2019-11-09 03:14] #245 closed

[2019-11-09 03:14] chrismattmann commented on #247
please take this to the `dev@tika.apache.org` mailing list. Thanks!

[2019-11-09 03:14] #247 closed

[2019-11-09 03:15] chrismattmann commented on #212
if there is interest, please submit a PR

[2019-11-09 03:15] #212 closed

[2019-11-09 03:15] chrismattmann commented on #210
if you get time for a PR please contribute it back.

[2019-11-09 03:15] #210 closed

[2019-11-09 03:16] chrismattmann commented on #215
Sorry hope you got it running doesn't look like much activity here.

[2019-11-09 03:16] #215 closed

[2019-11-09 03:16] #217 closed

[2019-11-09 03:17] chrismattmann commented on #246
can you take this upstream to `dev@tika.apache.org`? Thank you...tika python just uses the output of the Tika API....

[2019-11-09 03:17] #246 closed

[2019-11-09 15:57] chrismattmann commented on #191
thanks @luke4u I think one way you could do it is just to use [pdftk](https://askubuntu.com/questions/221962/how-can-i-extract-a-page-range-a-part-of-a-pdf) to split the PDF into individual pages, and then use Tika-Python after that?

[2019-11-09 16:00] chrismattmann commented on #225
thanks @rblock-aw are you still experiencing this even after #222?

[2019-11-09 16:01] chrismattmann commented on #158
hi @omidbadr if you get a chance, consider sending me a PR by making the above an optional configuration?

[2019-11-11 03:11] Bugazelle opened #249 "[Bug] Failed to install the latest version 1.22"
Hello Chris,

We are failed to install the latest 1.22 at Python2.7.
Would you please take time to fix that?

[code]

Thank you,
Ken

[2019-11-11 13:45] yishairasowsky opened #250 "bug in latest version 1.22"
File "C:\Users\Yishai\AppData\Local\Programs\Python\Python37\lib\site-packages\tika\tika.py", line 549, in callServer
    encodedData.close() # closes the file reading data

[2019-11-11 14:19] luke4u commented on #191
Thanks @chrismattmann . I was trying to find delimiter within texts parsed by Tika. Now I get to know there is no such delimiter. I decided to use what you said to split pdf and use Tika.

[2019-11-11 14:40] luke4u opened #251 "Messed order of parsed texts"
Hi Guys,

Found something interesting not in a pleasant manner about the texts parsed. The bulk paragraphs are wrongly placed at the bottom of the parsed texts. Could anyone help correct this wrong order?

Thanks so much. Luke

_Input Pdf file left and output text right shown in screenshot below:_

![image](https://user-images.githubusercontent.com/45267576/68594595-cb8be980-048f-11ea-8a27-d2fba6f

[2019-11-11 16:45] jamesacampbell commented on #238
Lol, no problem. Maybe update the documentation to include this usage scenario if needed by others?

[2019-11-11 20:05] luhgit commented on #191
Hi,
I used tika-python also split the pdf as well. You can turn xmlContent parameter as True in parser.from_file() function and later you can parse the return XML with beautiful soup. Each page contents are wrapped in a <div> element with page attribute e.g. <div page="">. See the code below I wrote for my parser which splits and extract the contents for a pdf.

[code]
I hope this helps. Let me kn

[2019-11-11 22:36] luke4u commented on #191
Thanks @luhgit This is really helpful! more efficient than splitting pdf.

[2019-11-12 11:36] luke4u opened #252 "AttributeError: 'bytes' object has no attribute 'close'"
Hi Guys,

Got this error below. I thought it is the server issue, so killed the process running on 9998 (as advised in #166). But it does not work.

FYI, I can run the code smoothly in another virtual env.

[code]

here is the **code snippet**.

[code]
Thanks. Luke

[2019-11-12 13:58] dweir247 commented on #252
I have the exact same issue as you luke4u (identical error message).

I'm running the same line of code on a PDF doc that worked previously but seem to have an issue after importing Tika 1.22.

Would be great to see what the issue is and what the solution is to fixing this.

Thanks - Dave

[2019-11-13 00:49] jordanparker6 commented on #252
I am getting the same issue as well.

I am parsing tika from:

`doc = parser.from_file(file_name, serverEndpoint=http://localhost:9998/rmeta/text, headers={"X-Tika-PDFextractInlineImages": "true"})`

I am running Tika 2.0.0 server locally, with the intention of replacing this with a docker container.

[2019-11-13 10:49] rblock-aw commented on #225
We'll look into it, I'll keep you posted.

[2019-11-13 21:11] Trofleb commented on #252
Seems like I am having the same issue, I proposed a fix here : #125

Hope this helps!

I really like the project, thanks for the work!

[2019-11-14 06:47] dweir247 commented on #252
Thanks @Trofleb ! Code is now working on my side!

[2019-11-14 14:04] jimmychordia commented on #250
I am also getting the same error -   AttributeError: 'bytes' object has no attribute 'close'. Does anyone has the fix to this. Please post.

[2019-11-14 15:59] paconius commented on #251
Yes, I have a similar issue. I beleive this can be fixed by calling setSortByPosition in teh Tika config.
[code]
I got this from [Stack Overflow](https://stackoverflow.com/questions/7067538/tika-returning-incorrect-line-of-text-for-pdf-with-lots-of-tables)

Unfortunately it looks like the config interface in this project is read-only. I would be interested if anyone knows how to change the config.

[2019-11-14 17:28] cneben commented on #225
Unfortunately, 1.22 does not seems to fix the bug.

The problem is in tika.py: in function getRemoteFile, the urlparse() call does not works with non-ascii charcaters. Encoding the url given to parser.from_file() works (ie parser.from_file(urllib.parse.quote(str))), but then the call open() in parse1() fails because there is no url decoding for local files...

The best way of fixing this would be

[2019-11-15 12:47] luke4u commented on #231
@sunweiconfidence @raj5287 @chrismattmann ,  I still got error after adding this at top of` tika.py`
`os.environ["TIKA_SERVER_JAR"] = r'C:\Users\Desktop\deep_pavlov\tika_server\tika-server.jar'` . Not sure what I missed, can you share more insights?

error below:
`Retrieving C:\Users\Desktop\deep_pavlov\tika_server\tika-server.jar to C:\Users\AppData\Local\Temp\tika-server.jar.`

`URLError: <urlop

[2019-11-15 13:21] luke4u commented on #252
closing this as #253 solved it.

[2019-11-15 13:21] #252 closed

[2019-11-15 14:53] luke4u commented on #250
try to comment out this line. it worked for me.

[2019-11-15 15:41] luke4u commented on #251
Thanks @paconius . I will keep this open for more insights.

[2019-11-15 20:45] paconius commented on #251
I found this tidbit inside tika.py:
[code]

It looks like you might be able to supply your own config which would somehow specify "SortByPosition"

[2019-11-15 23:01] luke4u commented on #251
@paconius  can you possibly share the config file? Not sure how to make a config from html page.
Tried below, but apparently there is no "SortByPosition" in the output.
[code]

[2019-11-17 17:24] paconius commented on #251
Sorry, I'm in the same boat as you WRT having no concrete idea of how to fix this. I am simply passing along new leads as I find them. AFAIK, you need to create a separate config file to provide to parser. The format of the file is described here: [https://tika.apache.org/1.18/configuring.html](https://tika.apache.org/1.18/configuring.html). However, I'm not sure what string should go in the confi

[2019-11-18 09:44] suresh-vy commented on #235
Hi @chrismattmann ,

I'm also facing this issue, It would be great if you can resolve ASAP

Thanks

[2019-11-18 13:09] BorjaDiago commented on #215
Yes, finally got the results that I spected. Thank you so much. Regards.

[2019-11-18 19:44] cerava opened #254 "Program suddenly stopped extracting"
I'm running tika version 1.19 to extract text from a PDF and it's been working fine - however it recently stopped working despite me not making any changes on my system (did not upgrade to 1.22, did not upgrade tika, did not upgrade Java)

The particular line in question is:
`content = parser.from_file(current_file)['content']`

Previously the above line would be able to extract all the content, b

[2019-11-19 14:28] igormp opened #255 "Repository is too heavy"
When cloning the repo, it downloads over 30MB of data, something that I consider kinda weird.

[code]

I found #34 and tried to see if there isn't any big file left in the history, but I ended up finding out that the most likely culprit is the `update-tika16` branch, which contains some jar files. Would it be possible to delete this branch, since it has seen no updates in over 5 years?

[2019-11-19 14:53] igormp commented on #235
I created a draft PR that tries to solve that. I'll try to give it a better look and finish it as soon as I can.

[2019-11-20 22:05] luke4u commented on #251
@chrismattmann any chance you can provide fresh ideas to fix the issue?

Thanks so much.  Luke

[2019-11-23 00:04] chrismattmann commented on #249
fixed in
[code]

[2019-11-23 00:04] chrismattmann commented on #249
fixed in https://github.com/chrismattmann/tika-python/commit/8b88be2e731ad7d14e91b8475b2c15e70b0cca2c

[2019-11-23 00:04] #249 closed

[2019-11-23 00:06] chrismattmann commented on #250
fixed in https://github.com/chrismattmann/tika-python/pull/253

[2019-11-23 00:06] #250 closed

[2019-11-23 00:09] chrismattmann commented on #251
sure the answer is basically to create a config file per the instructions [here](https://tika.apache.org/1.18/configuring.html) ,and then save that file somewhere, e.g., /my/path/tika.config and then call it via:

[code]

Note the config file should configure the PDF Parser and include:

[code]

[2019-11-23 00:09] #251 closed

[2019-11-23 00:10] chrismattmann commented on #254
maybe try killing your tika server (ps aux | grep java | grep tika) and then kill it and then restart?

[2019-11-23 00:10] #254 closed

[2019-11-23 00:11] chrismattmann commented on #255
what command would be required to delete it @igormp can you give me some insight?

[2019-11-23 00:14] chrismattmann commented on #238
@jamesacampbell can you provide a PR that updates the doco? Would love to update it please let me know.

[2019-11-23 00:15] chrismattmann commented on #231
I think you need to add a `file:` in front of your string, like this:

[code]

[2019-11-23 01:56] sunweiconfidence commented on #231
@luke4u
my complete code change as below:
code change path: C:\Program Files\Python36\Lib\site-packages\tika\tika.py
code change point as below bold text:
**log_path = os.getenv('TIKA_LOG_PATH', 'D:/inetpub/wwwroot/bertapi/Tika/')**
log_file = os.path.join(log_path, 'tika.log')

logFormatter = logging.Formatter("%(asctime)s [%(threadName)-12.12s] [%(levelname)-5.5s]  %(message)s")
log = logging.ge

[2019-11-23 02:58] jamesacampbell commented on #238
@chrismattmann sure ill take a look this weekend

[2019-11-23 13:09] igormp commented on #255
Looking at [this](https://stackoverflow.com/a/49646018/4542015) SO answer, using bfg with `bfg --strip-blobs-bigger-than 20M tika-python.git` and then running `git reflog expire --expire=now --all && git gc --prune=now --aggressive` inside the repo folder seemed to do the job, reducing the repo size from a little over 30MB into just 5MB. It removed 2 big files, as seen bellow.

[code]

I believe t

[2019-11-23 17:05] chrismattmann commented on #255
OK I have bfg installed, so I could run the above commands, and here's what I got:

[code]

It's not finding anything....but I did find [this](https://github.com/rtyley/bfg-repo-cleaner/issues/65) which described running `git gc` to repack. After doing that, I got this:

[code]

That looks right. Then I ran
[code]

All good!

[2019-11-23 17:07] #255 closed

[2019-11-24 08:38] sunweiconfidence opened #257 "whether have file size limitation for parsing the file content?"
@chrismattmann
    i prepare to parse the mongo gridfs file and take it as a flask api service and expose it to outer caller, whether have file size limitation for parse the file content using tika-python? thanks

[2019-11-25 16:24] chrismattmann commented on #257
hi @sunweiconfidence I believe the answer is no....but best to check on by sending an email to [dev@tika.apache.org](mailto:dev@tika.apache.org) and check.

[2019-11-25 16:24] #257 closed

[2019-11-26 13:51] luke4u commented on #251
@chrismattmann sorry, couldn't work out the solution. Below does not solve the problem. Can you check if it is the right config file? I am not an xml expert. If possible you can share a config file, I am more than happy to do testing.

Thanks. Luke

[code]

[2019-11-26 14:21] luke4u commented on #231
Thanks guys. problem solved!

[2019-11-27 06:15] sunweiconfidence commented on #257
@chrismattmann  thanks for your answer, and i have send email to your supplied email and wait for reply

[2019-11-27 08:45] sunweiconfidence opened #258 "Report 503 error on windows server 2016 when parse the file for high concurrency"
@chrismattmann
    i do some performance test for multiple times call parser.frombuffer() method, some gridfs file in mongodb have greater than 50MB, log will print the below information:
New var:....... response = b'https://github.com/debezium/debezium\r\nhttps://juejin.im/entry/5c73ed5c51882562d02a03b8'
16:10:28.639346 line        61             parsed = parser.from_buffer(response)
New var:....

[2019-11-27 14:10] jjelosua commented on #246
+1 to this, @SYNEQUANON have you posted to the dev mailing list? Can not find it. Also is the language supposed to be part of the default metadata returned by tika 1.22? I have tested with *.txt and *.pdf and did not find the language key in any of those

[2019-11-29 04:07] sunweiconfidence commented on #258
@chrismattmann
    fix this issue by upgrade the tika-server.jar to version1.22 and use tika-python1.19 code, previous i use tika-server.jar is version1.19

[2019-11-30 12:26] sunweiconfidence opened #260 "how to speed up extract file's time for the first time?"
@chrismattmann
    if my flask web api don't be called for some hours, and again call the tika's from_buffer method, it will become very slow, then wait for several seconds,the second time i call this method, it will become faster than first time, do i have any setting code for solve the cold start issue? thanks

[2019-12-01 04:49] chrismattmann commented on #258
great,  yeah the latest tika I published uses 1.22. Once 1.23 is out I'll upgrade to that too thanks @sunweiconfidence

[2019-12-01 04:49] #258 closed

[2019-12-01 04:50] chrismattmann commented on #260
looks like this is related to your other issue, so I assume is fixed now.

[2019-12-01 04:50] #260 closed

[2019-12-02 11:17] jjelosua opened #262 "ResourceWarning when executing tests"
~/code/tika-python/tika/tika.py:579: ResourceWarning: unclosed <socket.socket fd=9, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=0, laddr=('127.0.0.1', 51870), raddr=('127.0.0.1', 9998)>
  alreadyRunning = checkPortIsOpen(serverHost, port)
ResourceWarning: Enable tracemalloc to get the object allocation traceback

The statement to close the socket use to test if tika is up http

[2019-12-02 11:32] jjelosua opened #263 "ResourceWarning when executing tests"
~/code/tika-python/tika/tika.py:329: ResourceWarning: unclosed file <_io.BufferedReader name='/var/folders/1l/bn7nfys51f98tfxk1y7_5q700000gq/T/boe-dias-2019-12-02-pdfs-boe-a-2019-17288.pdf'>
  headers, verbose, tikaServerJar, config_path=config_path, rawResponse=rawResponse, requestOptions=requestOptions)

The parent caller to `CallServer` should be responsible for the closure of the file/objects

[2019-12-02 15:31] jamesacampbell commented on #238
@chrismattmann pull request in, cheers.

[2019-12-02 22:48] luke4u commented on #251
@paconius , I used the above config file, but it didn't work, any chance you can share your config? Huge thanks in advance.

[2019-12-03 05:01] hafizurmeldcx commented on #252
can't install `tika==1.23` so downgraded to `tika==1.19` and it is working fine

[2019-12-03 14:16] chrismattmann commented on #262
thanks @jjelosua i'll merge this and #263 via #264

[2019-12-03 14:17] chrismattmann commented on #263
thanks @jjelosua

[2019-12-03 14:21] #262 closed

[2019-12-03 14:21] #263 closed

[2019-12-05 11:57] JeanB-Verr commented on #206
I have the same problem on windows 10

[2019-12-05 17:13] jjelosua commented on #246
I have sent the question to the dev mailing list, here's the response:
`In looking at the source code for this (for the first time?)...it looks
like that endpoint expects UTF-8 text.  It does not parse the file and then
run lang id on the parsed text.` they have updated the wiki to reflect this misunderstanding [https://cwiki.apache.org/confluence/display/TIKA/TikaJAXRS#TikaJAXRS-LanguageResource]

[2019-12-12 17:28] luke4u opened #266 "Tika parsing order issue"
Hi Guys,

Raise this issue again. As #251 suggested, below is the config. But does not solve the problem. Not sure if anything wrong with the config file. Can anyone share insights? Thanks.

[code]

[2019-12-13 21:37] edwin-lai opened #267 "Have `.from_file()` methods accept file objects as input"
Currently the `.from_file()` methods only accept urls and filepaths as input. I would like it to accept file objects as well so applications that have already opened the files don't have to write the file again for Tika to consume. I am willing submit a pull request that implements this feature.

[2019-12-13 21:49] chrismattmann commented on #246
thanks @jjelosua yeah we are waiting on that in #103 - it may be the best bet, but we have been waiting for a while

[2019-12-13 21:51] chrismattmann commented on #266
@luke4u I think the best bet is to ask this on the `dev@tika.apache.org`. Once you get a config that works, nothing really needs to be done here in Tika-Python it will just work.

[2019-12-13 21:51] #266 closed

[2019-12-13 21:52] chrismattmann commented on #267
thanks @edwin-lai i'll watch for the PR!

[2019-12-13 22:20] chrismattmann opened #268 "Upgrade to 1.23"
Apache Tika 1.23 [is out](https://www.mail-archive.com/announce@apache.org/msg05589.html). Upgrade to it.

[2019-12-13 22:21] #268 closed

[2019-12-17 08:56] sunweiconfidence opened #270 "how much assigned memory for JVM when tika parse the file using from_buffer method?"
@chrismattmann
i want to know how much memory to assign to JVM when tika-python to call from_buffer method ? because when i have several files call parser.from_buffer in the same time for some large file, it will give me 500 status error, but when i call parser.from_buffer alone in one time, it can parser file successfully, i use tika-server.jar version is 1.22, could i adjust jvm assigned memory

[2019-12-17 18:02] chrismattmann commented on #270
This will vary with your use case @sunweiconfidence but I typically do ~4Gb RAM...

[2019-12-17 18:02] #270 closed

[2019-12-18 03:12] sunweiconfidence commented on #270
@chrismattmann
 if i want to increase the JVM size to greater than 4Gb RAM, how do i change the code to adjust it? thanks

[2019-12-18 03:15] sunweiconfidence opened #271 "How do i change the JVM size to greater than 4Gb RAM When tika parse the file?"
@chrismattmann
if i want to increase the JVM size to greater than 4Gb RAM for high concurrency need, how do i change the code to implement it? thanks

[2019-12-21 18:16] chrismattmann commented on #271
@sunweiconfidence look at tika/tika.py and search for the startServer function. You can change it there.

[2019-12-21 18:16] #271 closed

[2019-12-26 07:00] sunweiconfidence commented on #271
@chrismattmann  thanks for your answer

[2020-01-03 22:27] Dreak1803 commented on #182
Did you ever solved the problem?
Iam suffering from the same problem at the moment. I programmed a PDF-parsing tool using a local Tika Server. And its slow as hell.
When using it online over the Python Tika libary, its approximately 100x (not exaggerating)

If someone could provide a solution I would be really greatful!

[2020-01-07 03:10] sunweiconfidence opened #272 "how to solve the 422 error code issue for parsing the doc file that containing many pictures?"
hi @chrismattmann

when i parse a doc file of 150MB, include 140MB pictures in it, every time i parse the file, i meet with 422 error status code using parser.from_buffer method, even if i set the TikaJavaArgs = os.getenv("TIKA_JAVA_ARGS", '-Xmx32g -Xmn20g') in tika.py to increase the JVM performance, still meet with 422 error statuscode, how can i fix the issue? thanks

[2020-01-09 19:28] Tooa opened #273 "`parser.from_file()` does not work with serverEndpoint different from localhost"
## Summary

* Setting a `serverEndpoint` different from `localhost` throws an exception. See the snippet below:

[code]

* Apache-Tika from `logicalspark/docker-tikaserver:latest` (1.23)
* `tika-python version: 1.23`

## Steps to reproduce

* Use two container setup
  * First container hosts Apache-Tika
  * Second container could be any container having python and `tika-python` installed
* `docker

[2020-01-10 03:19] sunweiconfidence commented on #272
@chrismattmann
have solved by read tika-server.jar sourcecode exception part, i found that when i save the doc file to docx format, file can be parsed easily

[2020-01-10 19:56] pbienst opened #274 "TypeError: ord() expected string of length 1, but int found"
Fresh install on Ubuntu, using 'sudo apt-get install libtika-java' and 'sudo pip3 install tika',

Parsing any pdf file with 'parsed = parser.from_file("a.pdf")' fails with

[code]

[2020-01-12 14:33] chrismattmann commented on #182
hi @Dreak1803 so you are saying it's 100x slower over Python Tika than just (I assume) directly contacting a local Tika Server? Perhaps do a memory or CPU profile when both are running? Capture net stats...it shouldn't be any difference since Tika Python is simply a REST client to Tika Server with lots of conveniences.

[2020-01-12 14:33] chrismattmann commented on #272
thanks for this @sunweiconfidence !

[2020-01-12 14:34] #272 closed

[2020-01-12 14:35] chrismattmann commented on #273
thanks @Tooa fantastic, looks like a legit issue with the doco, and/or expected behavior. Care to submit a simple PR that fixes `.from_file` to work as expected? Thanks for the fantastic issue and report.

[2020-01-12 14:36] chrismattmann commented on #274
Looks like an issue with the filename and unicode @pbienst What charset are you using and can you give examples of the filename? What is your locale?

[2020-01-12 16:11] pbienst commented on #274
As I mentioned in my report, the filename is simply "a.pdf"...
Here is the pdf: https://www.dropbox.com/s/rfoisx2bw651l08/a.pdf?dl=0

[2020-01-12 16:12] Tooa commented on #273
@chrismattmann Thank you. I proposed a change including a test case as PR.

[2020-01-15 16:11] agiokas-dbg opened #277 "`module 'tika' has no attribute 'initVM'` and `ImportError: cannot import name 'parser'`"
I've followed the installation instructions, using pip in a virtual environment:
- `python3 -m venv venv`
- `source venv/bin/activate`
- `pip install tika`
- `wget -O /tmp/tika-server.jar http://search.maven.org/remotecontent?filepath=org/apache/tika/tika-server/1.23/tika-server-1.23.jar`
- `wget -O /tmp/tika-server.jar.md5 http://search.maven.org/remotecontent?filepath=org/apache/tika/tika-server

[2020-01-21 12:20] mathiashoeld commented on #277
are you getting the same issue with older versions, e.g. `TIKA_VERSION=1.22`?

[2020-01-22 10:29] agiokas-dbg commented on #277
Hi @mathiashoeld I just tried it with version 1.22 and I am getting the same issue. Should I try with an even older version? What annoys me is that my colleague is running it in docker with 1.23 using the same code, and it works fine.

[2020-02-01 16:33] #273 closed

[2020-02-01 16:36] chrismattmann commented on #277
If you are in a local checkout of tika-python when running it, you will get module import errors. Try cd'ing out of the Git checkout (if you are running this from that dir) and see if that fixes it @agiokas-dbg

[2020-02-01 16:36] #277 closed

[2020-02-01 16:37] chrismattmann commented on #274
the file isn't there anymore and I can't test.... @pbienst

[2020-02-01 16:37] #274 closed

[2020-02-04 17:49] stephen-farris-jhuapl-edu opened #278 "Exception when trying to parse on Windows 10: AttributeError: module 'os' has no attribute 'setsid'"
I'm using tika 1.23 successfully on Python 3.7.4 on one Windows 10 machine. However I installed tika 1.23.1 (the latest version) on another Windows 10 machine running Python 3.8.1, and I get an exception when I try to parse files. For example `tika.parser.from_file("PATH_TO_MY_PDF_FILE.pdf")` results in this exception: `AttributeError: module 'os' has no attribute 'setsid'.`  (NOTE: I am initializ

[2020-02-04 22:42] sunandabansal commented on #278
I ran into the same issue. Thanks to @stephen-farris-jhuapl-edu's coment downgrading to 1.23 worked for me.

[2020-02-04 23:29] chrismattmann commented on #278
we have a fix for this in  #280 I'll be applying it shortly. Thank you. I can push a 1.23.2 this week to release it.

[2020-02-06 16:10] Rik-de-Kort commented on #278
Same issue here. Looking forward to a fix!

[2020-02-08 16:50] chrismattmann commented on #278
fixed in #280

[2020-02-08 16:50] #278 closed

[2020-02-10 22:12] lgtateos commented on #278
I installed tika through Anaconda today and I am getting the  `AttributeError: module 'os' has no attribute 'setsid'.` exception.

[2020-02-16 00:38] garyng commented on #278
Seems like `1.23.2` is not released yet. May I know when will it be released?

[2020-02-18 23:42] nupanick commented on #267
@edwin-lai Can you please make sure that when you accept an open file stream from an outside source, you leave the stream open? Tika's auto-close behavior is unexpected.

[2020-02-24 14:54] walter-hernandez opened #282 ""module 'os' has no attribute 'setsid'" error in Windows"
Hello all:

I got the following error:
`TikaServerProcess = Popen(cmd_string, stdout=logFile, stderr=STDOUT, shell=True, preexec_fn=os.setsid)
AttributeError: module 'os' has no attribute 'setsid'`

This is because os.setsid is only available in Unix based os.  In the meantime that the issue is solved, you can run the server independently using the docker image:

`docker pull apache/tika`

and run

[2020-02-25 03:20] Dobatymo commented on #282
Same here.

[code]

[2020-02-27 20:51] tongwang opened #285 "UnicodeEncodeError when detecting type of file with non-ascii characters in file name"
Similar to #167 and #124, we get UnicodeEncodeError when detect file type and file name contains non-ascii characters.

Pull request: https://github.com/chrismattmann/tika-python/pull/284

[2020-02-29 21:12] letnotimitateothers commented on #191
thanks a lot @luhgit ! That really helps me too. Will try to do it on doc file now.

[2020-03-02 19:12] chrismattmann commented on #278
hi @garyng I'll try and release it this week.

[2020-03-02 19:16] chrismattmann commented on #285
fixed in #284

[2020-03-02 19:16] #285 closed

[2020-03-02 19:16] chrismattmann commented on #282
should be fixed when I release 1.23.2 this week.

[2020-03-02 19:16] chrismattmann commented on #282
can you test out the latest from master and report back @walter-hernandez ?

[2020-03-04 03:41] whughes001 commented on #282
Just FYI, it worked for me. Using PyCharm 2019 Professional.

[2020-03-04 08:06] jai890216 commented on #278
Hi, Although I downgraded tika to 1.23, still the same issue occured(setsid).
Any suggestion until the issue fixed?

[2020-03-04 12:40] walter-hernandez commented on #282
@chrismattmann It is working! Thank you so much for fixing it!

[2020-03-04 12:40] walter-hernandez commented on #282
I am going to close this issue. Thank you again @chrismattmann

[2020-03-04 12:40] #282 closed

[2020-03-04 19:17] chrismattmann commented on #278
you need to downgrade to 1.23.0 until I made the updated release.

[2020-03-04 19:17] chrismattmann commented on #282
awesome thanks I'll update this and publish the new version this week. thanks @walter-hernandez ! if you are able and your company sees value in Tika Python, consider my [Github Sponsors](http://github.com/sponsors/chrismattmann) page.

[2020-03-11 08:53] BorisWiegand opened #286 "Fixed port leads to problems on Windows 10"
On version 1.23.1, the port of the tika server is set to "9998" in line 175 of tika.py.
However, this port is already in use by a system process on my Windows 10 system. It would be nice, if there would be an option in the library to change this port.
Might be related to the closed issue https://github.com/chrismattmann/tika-python/issues/206

[2020-03-11 15:18] carantunes opened #287 "unpack.from_file sometimes fails with error _csv.Error: line contains NUL"
Some ocasional files lead to error  `_csv.Error: line contains NUL` when parsing with function `unpack.from_file`. With `parser.from_file` is sucessfull.

[code]

I am unsure what's causing this. I can however prepare a quickfix to remove null chars from `metadataFile`.

[2020-03-12 10:15] carantunes commented on #287
Using /rmeta/text I can see same problematic NULL bytes appear. I can see Tika returns a couple `DigiPath\u0000`

[code]

[2020-03-12 10:19] suresh96458 opened #288 "RuntimeError: Unable to start Tika server."
I am running a simple sample script , and facing the below issue,

The below script is running on Ubuntu 18.04 system

[code]

Below is the error stack trace :

[code]

[2020-03-12 10:30] dev-spk-shell commented on #282
1.23.2 version is not available yet for me

[2020-03-17 19:12] rafaleo commented on #278
Same here; can't upgrade nor downgrade in Anaconda Nav.

[2020-03-18 03:17] sunweiconfidence opened #290 "How many languages does Tesseract OCR of Tika-Python support for parsing in pictures?"
hi @chrismattmann,

i want to use Tesseract OCR in tika-python, i have three questions as below:

How many languages does Tesseract OCR support for parsing in pictures? like French,German,Chinese and so on
Do i need to pass language parameters when parsing pictures?
Whether to support parsing multiple languages in a picture at the same time?

thank you

[2020-03-18 03:22] sunweiconfidence opened #291 "How many languages tika-python supports to parse attachments?"
hi @chrismattmann

i have a question that How many languages tika-python supports to parse attachments? because i haven't tested all languages for parsing file that contain many languages' content before, thanks.

[2020-03-18 08:02] sunweiconfidence opened #292 "Which method should I call to parse the content of image when tesseract-ocr is turned on?"
hi @chrismattmann

i want to use tesseract-ocr to parse image's content, if tesseract-ocr has installed in my local pc and have path, which method should i call to parse the image's content using tesseract-ocr? thanks.

[2020-03-21 17:30] #287 closed

[2020-03-21 17:32] chrismattmann commented on #286
Hi @BorisWiegand see the documentation in https://github.com/chrismattmann/tika-python/blob/master/tika/parser.py#L23 you can provide your own custom Tika Server end point which should take care of it.

[2020-03-21 17:32] #286 closed

[2020-03-21 17:33] chrismattmann commented on #288
@suresh96458 please make sure you have Java running on your system. You need java and check the pre-reqs section of the README.md.

[2020-03-21 17:33] #288 closed

[2020-03-21 17:34] chrismattmann commented on #290
Please check the [full documentation on OCR and Tika Server](https://cwiki.apache.org/confluence/display/TIKA/TikaOCR) which I think will help answer your question @sunweiconfidence

[2020-03-21 17:34] #290 closed

[2020-03-21 17:36] chrismattmann commented on #291
it supports full unicode/UTF-8 and can extract text in multiple languages see [this tutorial](https://www.wisdomjobs.com/e-university/apache-tika-tutorial-1976/tika-language-detection-23409.html) though it's specific to Java, note it's exposed by Tika Server, and Tika Python just inherits it.

[2020-03-21 17:36] #291 closed

[2020-03-21 17:37] chrismattmann commented on #292
thanks @sunweiconfidence if it's install it should automatically pick up Tesseract and call it.

[2020-03-21 17:37] #292 closed

[2020-03-21 17:39] chrismattmann opened #293 "Upgrade to 1.24"
Apache Tika 1.24 is [out on Central](https://repo1.maven.org/maven2/org/apache/tika/tika-app/1.24/) so time to upgrade before releasing.

[2020-03-21 17:41] chrismattmann commented on #293
fixed in https://github.com/chrismattmann/tika-python/commit/1d926054c6ae63d93d2dd9ecd1bef03c3f423401

[2020-03-21 17:41] #293 closed

[2020-03-22 22:48] sunweiconfidence commented on #292
thanks @chrismattmann , but have a question that if the image's content is not english, it is German text and french text, tesseract need to pass language parameter, if i don't call method, how do you know what language parameter should pass to you? how do you automatically recognize it? thanks

[2020-03-22 22:51] sunweiconfidence opened #294 "how do you know what language parameter should pass to you when use tesseract?"
hi @chrismattmann

i have a question that if the image's content is not english text, it is German text and french text, tesseract need to pass language parameter in its official document introduction, if i don't call method in tika-python for tesseract, how do you know what language parameter should pass to you? how do you automatically recognize it? thanks

[2020-03-22 22:53] sunweiconfidence commented on #290
thanks @chrismattmann

[2020-03-22 22:53] sunweiconfidence commented on #291
thanks @chrismattmann

[2020-03-23 00:42] chrismattmann commented on #292
suggestion here is to create a wrapper around /usr/local/bin/tesseract (or wherever it is in your path), and then simply make that wrapper script pass the language parameters and then $* after, so that the binary will get called by tika with the right parameters. @sunweiconfidence

[2020-03-23 00:43] chrismattmann commented on #294
see my answer in #292

[2020-03-23 00:43] #294 closed

[2020-03-23 00:45] chrismattmann commented on #278
@rafaleo this has been pushed in 1.24 should be good, upgrade now

[2020-03-23 02:27] sunweiconfidence commented on #292
hi @chrismattmann ,
could you provide an example for it? i am not clearly how to do it? thanks

[2020-03-23 19:54] chrismattmann commented on #292
yes, find out where your `tesseract` is:

on Linux:
`which tesseract`

If that path is e.g., `/usr/local/bin/tesseract` then do the following:
  1. `mv /usr/local/bin/tesseract /usr/local/bin/tesseract.run`
  2. `vi /usr/local/bin/tesseract`

Then add the following to that file:
[code]

Set <parameters> to the options you want. Then to call your "tesseract" wrapper you call /usr/local/bin/tesserac

[2020-03-27 08:08] BorisWiegand commented on #206
I also have this problem on windows 10. this time, the port is not an issue. The tika server does not give me any log information, however, "netstat -ab" shows that it is listening on the given port. Tthe tike log just says:
`2020-03-27 09:01:54,564 [MainThread  ] [WARNI]  Tika server returned status: 503
`

[2020-03-27 17:18] chrismattmann commented on #206
@BorisWiegand can you take a look  at https://cwiki.apache.org/confluence/display/TIKA/TikaOCR and try to interact with Tika server that way? Does it work? that will isolate the problem to whether or not it's an issue in python or your server setup.

[2020-03-28 16:00] fedario commented on #189
I ran into this problem today. When running tika and tesseract via docker it is not in the path and I don't understand why it has to be.
When using `requests` it just needs the tika URL and text extraction from images works fine.

[2020-03-28 20:31] chrismattmann commented on #189
thanks  @fedario

[2020-03-29 03:46] sunweiconfidence commented on #292
@chrismattmann  thanks for your detail information.

[2020-03-29 09:55] sunweiconfidence opened #297 "how can i deploy the tika-python to docker environment, have Dockerfile of tika-python?"
hi @chrismattmann

i want to know whether have existing docker file to deploy the tika-python to docker environment? i found a tika-python docker file in docker hub
https://hub.docker.com/layers/thomasht86/tika-python-docker/latest/images/sha256-d3e2d51436d3db1b760568b7e078b9a14707586a909901da270535b05e9c9d54?context=explore

whether i can use above docker file of tika-python? thanks

[2020-03-29 17:26] Sarthak049 opened #298 "Parser.from_file throws read timeout error with large word document"
Trying to parse a word document in python2.7 (I know that it is being depreciated, but few other dependencies work only in python2). But for few of the larger documents I am unable to get the parsed data. I am using the below code snippet to parse the document.

`headers = {
                "X-Tika-OCRLanguage": "eng",
                'timeout': 300,
                'pool_timeout':  300,

[2020-03-30 17:30] Sarthak049 commented on #298
When I try the to make a curl request directly the response time is somewhere around 50sec. * Connection #0 to host localhost left intact 49.856982s

[2020-03-30 23:10] chrismattmann commented on #297
I don't publish an official Docker yet for tika-python, @sunweiconfidence but I will consider working on it. In the meanwhile, yes that referenced Docker looks good to me... 👍

[2020-03-30 23:10] #297 closed

[2020-03-30 23:15] chrismattmann commented on #298
are you doing this?

[code]

timeout is the only  one that matters to the requests library...which is where it looks like the timeout is occurring.

@Sarthak049

[2020-03-31 05:49] sunweiconfidence commented on #297
hi @chrismattmann  i will use the referenced docker file to try first, but i look forward to your docker file, thanks

[2020-03-31 06:10] Sarthak049 commented on #298
Thank you for you time and response @chrismattmann. That was indeed the problem, I was passing the timeout parameter inside the headers key. My bad the solution was staring right at my face. Thanks again man. Amazing work!

[2020-03-31 06:10] #298 closed

[2020-03-31 23:32] chrismattmann commented on #298
thank you @Sarthak049 !

[2020-04-03 08:46] BorisWiegand commented on #206
Thank you very much for this hint. I am sitting behind a corporate proxy and I had a wrong configuration, such that my python script tried to connect via proxy to the local tika server. Actually not the tika server but the proxy server returned status code 503. Now, I have fixed my proxy settings and everythings works as expected.

[2020-04-03 15:26] chrismattmann commented on #206
awesome @BorisWiegand thanks

[2020-04-08 05:05] ssparasuram opened #299 "Unable to read scanned content from PDF from tika-python"
Here i have tried to read the pdf contents which were scanned.

import tika
tika.initVM()

from tika import parser

PDF_file = "Sample.pdf"

with open(PDF_file, 'rb') as file_obj:
    parsed = parser.from_file(file_obj)

Empty result is coming.

if I convert this pdf pages into individual images and then parse, I can able to read the content.

Kindly help to parse the content of scanned document w

[2020-04-09 04:25] chrismattmann commented on #299
hi @ssparasuram instead of a file object, use a file path to the `.from_file` method. Should work fine.

[2020-04-09 04:25] #299 closed

[2020-04-09 05:56] ssparasuram commented on #299
Dear @chrismattmann ,

As per your suggestion I have tried to read the content as .from_file by passing the file name.

Since that pdf has scanned document, i cannot read the text from below python coe:

def extract_text_from_attachment_base(PDF_file):
    parsed = parser.from_file(PDF_file)
    contenttype= parsed["metadata"]['Content-Type']
    try:
        if(contenttype.lower().__contains__("i

[2020-04-09 06:04] ssparasuram commented on #299
{'metadata': {'Author': 'Parasuraman Sakkarapani', 'Content-Type': 'application/pdf', 'Creation-Date': '2020-04-09T05:51:52Z', 'Last-Modified': '2020-04-09T05:51:52Z', 'Last-Save-Date': '2020-04-09T05:51:52Z', 'X-Parsed-By': ['org.apache.tika.parser.DefaultParser', 'org.apache.tika.parser.pdf.PDFParser'], 'X-TIKA:embedded_depth': '0', 'X-TIKA:parse_time_millis': '129', 'access_permission:assemble_

[2020-04-12 00:39] salvacarrion commented on #191
Hi,

Thank you a lot @luhgit  for the code!

 In my case, `buffer.truncate()` wasn't truncating the buffer so the output is being accumulated (`eg.:[page1, page1+page2, page1+page2+page3,...]`).  To fix it, I simply create a new buffer each time; [it's faster](https://stackoverflow.com/questions/4330812/how-do-i-clear-a-stringio-object).

[code]

[2020-04-14 09:06] robguinness opened #301 "API to shutdown tika server"
Is there any API to shutdown the tika server after it is no longer needed? It would be nice to be able to do this programmatically from within a python script (after the tika server is no longer needed).

[2020-04-14 15:30] suresh-vy opened #302 "[MainThread ] [WARNI] Tika server returned status: 500"
Hi

While working with 1.7GB zip file i'm getting below error

[MainThread  ] [WARNI]  Tika server returned status: 500

currently i'm using tika-python version 1.2.4

in my environmental variable I set java_OPTS

JAVA_OPTS=-Xms2024m -Xmx4096m -Xss2024m -Xmn512m

Could please tell me how to work with large file using tika-python

[2020-04-15 09:21] luhgit commented on #191
Hi @salvacarrion,
I don't know what could have been the reason for the buffer not to be truncated. But I would agree that creating a new buffer every time is also another way to solve it. I just avoided it in order not to leave much work for garbage collector :)
But I am happy to hear that it helped you.

[2020-04-20 09:58] igponce commented on #301
At first sight, to implement that feature we would need:

- A way to record the java process_id (multi platform) on start.
- A (temporary) place to store that process Id
- A way to kill the process (multiplatform)

Out of scope:
Killing tija process after program ends.

[2020-04-20 20:17] mchari commented on #191
Thanks for the code. It works great for me.
I need to process pdf files on a  page by page basis. I started off using pypdf2 as it returns text as a concatenation of pages. But I have got burned by pypdf2 - it is unable to convert to text several pages and documents. For the pdf files that I have, tika has been more robust when it converts pdf to text.
The above soln takes care of both my needs :

[2020-04-21 05:24] chrismattmann commented on #191
this is  great work @mchari @salvacarrion and @luhgit ! can someone write me a unit test using that function? I'll add a new module  pdf.py in the tika/ folder, and  keep that as a key function...

[2020-04-21 07:43] ssparasuram commented on #299
Kindly help

[2020-04-21 08:24] ssparasuram opened #303 "Unable to pare the PDF content which is not in vertical orientation"
Dear Members,

I am currently using Tika-Python.

def tika_parser(file_path):
    # Extract text from document
    content = parser.from_file(file_path)
    if 'content' in content:
        text = content['content']
    else:
        return " [*IMAGE] "
    # Convert to string
    text = str(text)
    return text

when i am trying to read the content from the pdf which is not vertical orientation

[2020-04-21 11:30] fipwmaqzufheoxq92ebc commented on #301
`from tika import tika`
`tika.killServer()`
https://github.com/chrismattmann/tika-python/blob/178a33b9338cfb0f29f3c12062e92bd26221c9e4/tika/tika.py#L699
It was added in 1.23.1 and updated in 1.24

[2020-04-24 14:40] chrismattmann commented on #299
what is the size of your PDF file? check the logs for your tika server in `/tmp/tika-server*.log*` check if it is running out of memory... @ssparasuram

[2020-04-26 14:35] LIU-Yinyi commented on #211
@bradyschaer hi, actually readme has mentioned the preset for environment variables.
What you should do is to setup `TIKA_LOG_PATH` with a directory that owns **write-permissions**.

e.g. :
[code]

[2020-04-29 15:47] suvinks opened #304 "Option to sort text based on y position"
Hi

When returning data as text, it seems that Tika is sorting based on X position first. Is there a way we can have the text data sorted based on Y position first and then X

Thanks
Suvin

[2020-04-30 19:28] carantunes opened #305 "Tika 1.24.1 and gzip compression"
Hello,
Tika released [1.24.1](https://tika.apache.org/1.24.1/index.html) which allows gzip compression of input and output streams for tika-server.

What do you think of making it the default for the output stream? Since [requests](https://requests.readthedocs.io/en/master/user/quickstart/#binary-response-content) automatically decodes gzip and deflate transfer-encodings it's just adding the heade

[2020-04-30 19:38] carantunes commented on #305
Optionally we can also provide it by default for input to services `rmeta`, `tika`, `rmeta/text`, what do you think?

Something like:
[code]

[2020-05-06 16:18] aabid0193 commented on #277
Was this issue ever resolved? I am still having this issue if installing with pip

[2020-05-06 16:50] agiokas-dbg commented on #277
I never managed to solve this.

On Wed, 6 May 2020 at 17:18, aabid <notifications@github.com> wrote:

[2020-05-06 20:42] igponce opened #306 "unpack() crashes with emails with UTF-8 charcters in the headers"
(I can provide PR with files and pytest cases that correct this behavior).

I've noticed when I call tika.unpack() with a file, or buffer that includes an email that contains UTF-8 characters.

Apache Tika unpacks the email without trouble; but tika-python breaks reading the '__METADATA__' file from the tarfile we retrieve from Tika.

This is the exception I've got:
[code]

[2020-05-10 16:09] chrismattmann commented on #277
@aabid0193 @agiokas-dbg can you find your $PYTHON site-packages directory and then rm -rf tika* out of there? Try it on a fully fresh Python install. the .initVM() is likely related to the parser module not found. For whatever reason your tika library isn't being loaded or installed correctly.

FWIW, .initVM is no longer needed and only  left in for back compat.

[2020-05-12 14:28] gogaurav commented on #251
@luke4u Did you get your xml file working?

[2020-05-16 17:47] chrismattmann commented on #301
correct @fipwmaqzufheoxq92ebc this was added in 1.24.

[2020-05-16 17:47] #301 closed

[2020-05-16 17:49] chrismattmann commented on #302
hi @suresh-vy can you try starting a tika server on your own (before running tika python) with your desired requirements for memory? Then try tika-python and see if it works? My guess is that  your opts weren't being propagated to the server.

[2020-05-16 17:49] #302 closed

[2020-05-16 17:50] chrismattmann commented on #303
hi @ssparasuram please check upstream in the Tika java library, for configuration options. Are you using Tesseract, or if you are using just the default PDF parser, i think you need to change the properties upstream. Contact [user@tika.apache.org](mailto:user@tika.apache.org) for guidance.

[2020-05-16 17:50] #303 closed

[2020-05-16 17:51] chrismattmann commented on #304
check upstream in the Java Tika library by emailing [user@tika.apache.org](mailto:user@tika.apache.org).

[2020-05-16 17:51] #304 closed

[2020-05-16 17:53] chrismattmann commented on #306
dear @igponce yes please provide test case, and PR which fixes the behavior. Thank you.

[2020-05-16 17:54] chrismattmann commented on #305
@carantunes I like your first  suggested option. What is the advantage that requests will be faster since they will be using gzip? PR and test case showing whatever improvement for review would be appreciated.

[2020-05-16 18:00] chrismattmann commented on #103
doesn't look like anyone will provide a PR for this it's been years. Closing. If someone wants to put in a PR for this please do.

[2020-05-16 18:00] #103 closed

[2020-05-18 19:13] mike-altonji opened #308 "md5 file can't be found on airgap setup"
Received the following error message on my first time running Tika (OS: Windows 10, Set up as "Airgap" with no reliance on internet, using tika-server version 1.24.1)
**URLError: <urlopen error [WinError 2] The system cannot find the file specified: 'C:\\Users\\username\\Downloads\\tika-server-1.24.1.jar.md5'>**

I have found in the Apache archives that there used to be .jar.md5 files up through t

[2020-05-19 14:43] jjelosua opened #310 "Can't get NER models to work with tika-server"
Hi Chris,

Maybe this is a bit offtopic but following [readme section](https://github.com/chrismattmann/tika-python#changing-the-tika-classpath) I am trying to get tika-server to work with OpeNLP but it seems that according to the verbose output it is not taking my classpath into account.

**I have first downloaded the models**:
(faro) ➜  ner git:(ner) ✗ pwd
/Users/juan/code/FARO/models/ner
(faro)

[2020-05-19 15:03] chrismattmann commented on #308
@mike-altonji what happens if you download the MD5 file yourself? You can find it [here](http://repo1.maven.org/maven2/org/apache/tika/tika-server/1.24/tika-server-1.24.jar.md5). Also check out https://github.com/chrismattmann/tika-python/issues/238 and https://github.com/chrismattmann/tika-python/issues/231

[2020-05-19 15:06] chrismattmann commented on #310
hey @jjelosua what is in the directory: `/Users/juan/code/FARO/models/ner/`? Would it happen to be `org/apache/tika/parser/ner/opennlp/*.bin`? If not, you need those model files on the classpath somewhere. See where it says *NER : Available for service ? false* that tells you NER isn't on since it couldn't find the model. Double check the models are on the classpath...

[2020-05-19 15:19] jjelosua commented on #310
Hi @chrismattmann, yeah the models are there....

**(faro) ➜ ner git:(ner) ✗ pwd
/Users/juan/code/FARO/models/ner
(faro) ➜ ner git:(ner) ✗ ls -la
total 30360
drwxr-xr-x 5 juan staff 160 May 19 16:28 .
drwxr-xr-x 19 juan staff 608 May 19 16:28 ..
-rw-r--r-- 1 juan staff 5030307 May 19 16:25 ner-date.bin
-rw-r--r-- 1 juan staff 5297172 May 19 16:25 ner-organization.bin
-rw-r--r-- 1 juan staff 520795

[2020-05-19 15:20] mike-altonji commented on #308
It works when I download the MD5 file directly. Thanks for the link! I was using [this](https://tika.apache.org/download.html) (referenced in the package documentation as the source), which didn't have the MD5 file. When I checked the archives, I found MD5 files for all Tika versions up to 1.17, so I just used 1.17.
Would you want to update the documentation to refer to the Maven repo? That seems

[2020-05-19 15:21] jjelosua commented on #310
Do I need to recreate the `org/apache/tika/parser/ner/opennlp/` path inside mine? I do not think so...right?

[2020-05-20 14:17] jjelosua commented on #310
@chrismattmann, Recreating `org/apache/tika/parser/ner/opennlp/*.bin` inside `/Users/juan/code/FARO/models/ner/` worked....who knew ;-)

Thanks and sorry for the offtopic

Cheers

[2020-05-24 16:25] chrismattmann commented on #308
@mike-altonji can you submit a PR for the README with how you would update it? I'll review and merge. Thanks! 👍

[2020-05-24 16:26] chrismattmann commented on #310
no worries at all! It  has to do with classpath loading issues in Java :) If you think there should be doc updates in README.md send them my way for a PR! 👍

[2020-05-24 16:26] #310 closed

[2020-05-24 16:27] chrismattmann commented on #305
ping @carantunes happy to discuss

[2020-05-25 03:32] mike-altonji commented on #308
No problem! Can you give me write access to the repo? I made the changes in my local repo, but can't push to this remote.
Also, let me know if there's a specific branch you want it in. Else, I'll create a "bug-fix" branch.

[2020-06-02 22:07] chrismattmann commented on #308
fixed in #311

[2020-06-02 22:07] #308 closed

[2020-06-10 22:09] stubclan opened #312 "Tika Parser raises json.decoder.JSONDecodeError"
Steps to reproduce:
Below code runs perfect in Windows system but generates JSONDecodeError in Debian
[code]

![image](https://user-images.githubusercontent.com/6322130/84323683-dbaa9b00-ab3c-11ea-81b3-d110a32be2a6.png)

[2020-06-11 11:31] athreyanmks opened #313 "Avoiding Page numbers, Footers and headers"
I am using tika to extract a pdf with a few hundred pages, often the page number or footer of each page is extracted along with relevant data. Can I configure tika to ignore footers and headers so the continuity of text is not broken.

[2020-06-15 04:42] JSB97 opened #314 "Duplicate characters returned when extracting text from PDF"
When I extract the text from a PDF,  tika-python returns duplicated letters for some words, which i want to avoid.

In the java version of tika, The issue seems to be resolved by assigning "suppressDuplicateOverlappingText" to be true  (link below), but how can I achieve this in the python implementation?

https://issues.apache.org/jira/browse/TIKA-960

[2020-06-17 10:07] bpluly commented on #314
Using it in the parse call as a request option?
Something like

[2020-06-18 01:23] chrismattmann commented on #312
looks like your Tika server didn't start. Please  make sure it's running or look at the log message in /tmp/tika*.log

[2020-06-18 01:23] #312 closed

[2020-06-18 01:24] chrismattmann commented on #313
Hmm, you can upstream in the Java version with configuration options that are then passed by Tika server to the downstream python library. I recommend you asking your question on [dev@tika.apache.org](mailto:dev@tika.apache.org)